﻿/*body {
    margin: 0px;
    padding: 0px;
    background: #f5f5f5;
    font-family: 'Segoe UI';
}*/
ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.resp-tabs-list li {
    position: relative;
    float: left;
    padding: 11px 20px 0px;
    height: 27px;
}
.resp-tabs-list li.resp-tab-active:first-child:before{
    content:'';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 100%;
    background-color:  #FAFAFA;
    left: -2px;
    border-left: 2px solid #0163d1;
}
.resp-tab-active {
    top: 2px;
    border: 2px solid #0163d1;
    padding: 9px 18px 0px;
    background: #FAFAFA;
    border-bottom: none;
    border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    -webkit-border-radius: 12px 12px 0px 0px;
    z-index: 3;
    
}
.resp-tab-item span{
    display: inline-block;
    font: 16px/16px Tahoma;
    cursor: pointer;
    color: #005abf;
    border-bottom: 1px dashed #005abf;
}
.resp-tab-item span:hover {
    color: #0077ff;
}
.resp-tab-active span {
    border: none;
    color: #4c4c4c !important;
}
.resp-tabs-container {
    /*padding: 32px 27px 34px;*/
    /*background-color: #fff;*/
    clear: left;
   /* border-radius: 0px 12px 12px 12px;
    -moz-border-radius: 0px 12px 12px 12px;
    -webkit-border-radius: 0px 12px 12px 12px;*/
    position: relative;
    /*border: 2px solid #0163d1;*/
    /*border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border: 2px solid #0163d1;*/
    
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 1px;
}

.resp-tab-active {
    border-bottom: none;
}

.resp-tab-active {
    border-bottom: none;
    background: #FAFAFA;
    position: relative;
}
.resp-tab-active:after{
    content: "";
    position: absolute;
    width: 100%;
    padding-bottom: 10px;
    left: 0;
    bottom: -5px;
    background: #FAFAFA;
    z-index: 99;
}
.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    /*border: 1px solid #c1c1c1;*/
   /* background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top, #fafafa 0%,#efefef 100%);
    background: -o-linear-gradient(top, #fafafa 0%,#efefef 100%);
    background: -ms-linear-gradient(top, #fafafa 0%,#efefef 100%);
    background: linear-gradient(to bottom, #fafafa 0%,#efefef 100%);*/
    background: #FAFAFA;
}

h2.resp-accordion {
    font-size: 17px;
    /*border-top: 0px solid #c1c1c1;*/
    border: 2px solid #0063D1;
    padding: 10px 15px;
    margin-bottom: 10px;
    -webkit-border-radius: 12px;
            border-radius: 12px;
    color: #111;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border: 1px solid #c1c1c1;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #0163D1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #0163d1 !important;
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    /*display: block;*/
}


/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 1023px) {
    ul.resp-tabs-list {
        display: none;
    }
    

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
