/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1200px){
	.step_main_box{
		height: 70px;
		background-position: 0 -5px;
	}
	.step_box_item{
		font-size: 12px;
		line-height: 15px;
	}
	.step_box_item.first:after,
	.step_box_item.second:after{
		top: -5px;
		height: 78px;
	}
	.step_box_item_span{
		font-size: 23px;
		line-height: 25px;
	}
	.contact_box_franshiza_item .contact_box_form_label{
		font-size: 17px;
	}
	.sticky_btn b{
		font-size: 14px;
	}
	.sticky_btn{
		font-size: 15px;
	}
	.about_box.news_box_text{
		padding: 30px 0 0;
	}
	.done2_box_links{
		background: none;
		padding: 0px 0px 20px 0px;
	}
	.done2_box_links span{
		-webkit-border-radius: 10px;
		        border-radius: 10px;
	    border: 2px solid #e9e9e9;
	    height: 43px;
	}
	.enter_form_item{
		margin-right: 20px;
	}
	.forgot_right{margin-right: 0;}
	.otzyvy_title{
		padding-bottom: 18px;
	}
	.otzyvy_title2{
		padding-top: 0;
		margin-bottom: 30px;
	}
	.box_reviews_item {
	    margin-bottom: 20px;
	}
	.glossary_section_item p ,
	.glossary_section_item ul{
	    margin-bottom: 15px;
	}
	.registration2_box{
		padding: 0;
	}
}
@media only screen and (max-width: 1199px){
	.title1 span, .title4_item, .similar_block_link_item {
        font-size: 18px;
        line-height: 20px;
	}
	.search_box .title2 {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
	}
	.search_box{
		padding: 10px 2.9% 16px 2%;
	}
	.content_col_1_3 .form_row .form_label{
		font-size: 13px;
	}
	.content_col_1_3 .form_row {
	    margin-bottom: 2px;
	}
	.content_col_1_3:not(:first-child){
		width: 100%;
		margin: 13px 0 0 0;
	}
	.content_col_1_3 .jq-checkbox{
		margin: 0 5px 0 0;
	}
	.left_news_block{
        margin-top: 30px;
        margin-bottom: 0;
	}
	.request_box_main,
	.search_box{
		background: #FFF ;
	}
	.request_box_main .answer_box_button.d_none.d_b_1024.d_n_480{
		display: block;
		width: 320px;
		margin: 30px auto 0;
		border: none;
	}
	.request_box_main .answer_box_button.d_none.d_b_1024.d_n_480 .answer_box_button_item{
		font-size: 22px;
		
	}
	.request_box_main .block_form2_right_block .answer_box_button.d_n_1024{
		display: none;
	}
	.similar_franchise .title4_item{
		font-size: 29px;
	}
	.contact_box_franshiza .contact_box_franshiza_item .answer_box_franshiza,
	.contact_box_franshiza .contact_box_franshiza_item .contact_box_form{
		width: 48%;
	}
	.card_name{
		margin-bottom: 30px;
	}
	.con_fm_bx .contact_form_label{
		font-size: 17px;
		display: inline-block;
		padding-top: 8px;
	}
	.con_fm_bx .form_row,
	.all_fields{
		margin-bottom: 10px;
	}
	.con_fm_bx .capcha_img{
		width: 120px;
	}
	.con_fm_bx .capcha_img img{
		width: 100%;
		height: auto;
	}
	.con_fm_bx .contact_form_text_wrap {
        width: 184px;
	}
	.con_fm_bx textarea.area_h200 {
        height: 160px;
        resize: none;
	}
	.con_fm_bx .form_box {
        padding: 23px 40px 20px 20px;
    }
	.done2_btn_box button{
		float: left;
	}
	.message_send_box .done2_btn_box button{
		float: right;
	}
	.done2_btn_box button:first-child {
        margin-left: 0;
        margin-right: 10px;
	}
	.enter_form_item .done2_btn_box button{
		margin-right: 0;
		float: right;
	}
	.enter_form_item{
		width: 48%;
	}
	.enter_form_item .form_row{
		float: right;
		margin-left: 0;
	}
	.enter_box_block .title1 span{
		font-size: 30px;
        line-height: 32px;
	}
	.enter_box_block .title1 small{
		font-size: 16px;
        line-height: 1.2;
	}
	.registration_box_franchiza .contact_box_franshiza_item{
		margin-bottom: 20px;
	}
	.registration_box_franchiza .contact_box_franshiza_subscription .reg_block_box,
	.registration_box_franchiza .contact_box_franshiza_subscription .registration_box_btn{
		float: none;
	}
	.registration_box_franchiza .contact_box_franshiza_subscription .registration_box_btn{
		text-align: center;
	}
	.registration_box_franchiza .contact_box_franshiza_subscription .registration_box_btn .btn2{
		display: inline-block;
	}
	.done2_box_block .title1 span{
		font-size: 30px;
		line-height: 1;
	}
	.done2_box_block .title1 small{
		font-size: 16px;
		line-height: 1.2;
	}
	.reg_block_box{
		width: 100%;
	}
}
@media only screen and (max-width: 1170px) {
	.franshiza_single_box,
	.franshiza_single_box_caption {
	    padding: 0px 0 0 20px;
	}
	.sim_main_btn.sim_cards_btn {
        margin-left: -60px;
	}
}
@media only screen and (max-width: 1167px) {
	.col_1_4 {
	    width: 231px;
	}
	.header .col_1_4 {
		width: 20.4%;
	}
	.header .col_3_4 {
	    width: 77.117117117117%;
	}
}
@media only screen and (max-width: 1150px) {
	.basket_fltr_it {
        width: 220px;
    }
	.top_anchor {
	    display: block;
	    position: fixed;
	    bottom: 40px;
	    right: 25px;
	    border: 25px solid transparent;
	    border-bottom: 25px solid #1f497d;
	    z-index: 99;
	    opacity: 0.5;
	}
	.top_anchor:hover {
	    opacity: 1;
	}
	.news2_box_block .title1 span {
	    font-size: 30px;
	    line-height: 1;
	}
	.news2_box_block .title1 small{
		font-size: 16px;
	}
	.news2_box_block .title1.pl30{
		padding-left: 0;
	}
	.title1 small,.small_text_h2{
		font-size: 12px;
	}
	.similar_info span:first-child{
		padding: 0;
	}
	.similar_button .similar_button_item,
	.similar_button2 .similar_button_item{
		padding: 6px 0 6px 28px;
		font-size: 15px;
	}
	.similar_button2 .similar_button_item span{
		font-size: 15px;
	}
	.similar_block_link {
	    padding: 5px 0 7px;
	}
	.left_subscribe_block2{
		margin-top: 39px;
	}
	.header_slogan1{
		font-size: 13px;
	}
	.header_sm_col2{
		margin-right: 0;
	}
	.sitemap_btn{
		right: 34px;
	}
	.header_sm_col1{
		margin: 0 0 0 10px;
    	padding-right: 56px;
	}
	.sort_btn{
		font-size: 14px;
	}
	.pad_box .title1.mb25{
		margin-bottom: 5px;
	}
	.col_3_4{
		width: 75%;
	}
	.similar_block_item2{
		width: 30%;
		margin: 0 5px 10px 5px;
	}
	.sim_main_btn{
		margin-top: 0;
	}
	.footer_right_list_item a{
		font-size: 20px;
	}
	footer{
		margin-top: 40px;
	}
	.owl-car1 .owl-prev{
		left: -15px;
	}
	.news_link_box {
	    padding: 6px 0;
	}
	.text_list{
		margin-left: 20px;
	}
	.news_box_text{
		padding-top: 30px;
	}
	.contact_box_franshiza_item .captcha img{
		margin-right: 0;
	}
	.sticky_btns{
		width: 72.4%;
	}
	.sticky_btn{
		width: 405px;
	}
	.reg_block_box{
		width: 100%;
	}
	.registration_box_franchiza.contact_box_franshiza .contact_box_form,
	.registration_box_franchiza.contact_box_franshiza .contact_box_form.second {
	    width: 50%;
	    padding: 0 10px;
	}
	.message_label{
		display: block;
		margin-bottom: 10px;
	}
	.message_textarea{
		width: 100%;
	}
		.message_textarea textarea{
			resize: none;
		} 
	.form_box.con_fm_bx{
		padding: 23px 20px 20px 20px;
	}
}
@media only screen and (max-width: 1146px) {
	.representative_box{
		width: 225px;
	}
}
@media only screen and (max-width: 1142px) {
	.sim_main_btn.sim_cards_btn {
        margin-left: -50px;
	}
}
@media only screen and (max-width: 1136px) {
	.sticky_btn {
	    width: 400px;
	}
}
@media only screen and (max-width: 1130px) {
	.sim_main_btn.sim_cards_btn {
        margin-left: -35px;
	}
}
@media only screen and (max-width: 1128px) {
	.sticky_btn {
	    width: 400px;
	}
}
@media only screen and (max-width: 1123px) {
	.sticky_btn {
	    width: 395px;
	}
}
@media only screen and (max-width: 1119px){
	.block_form2_right_block .answer_box_button .answer_box_button_item {
        font-size: 22px;
        padding: 11px 60.5px;
	}
}
@media only screen and (max-width: 1115px) {
	.basket_fltr_it {
        width: 200px;
        margin: 4px 4px 6px 4px;
	}
	.basket_fltr_lnk {
        padding-left: 10px;
	}
}
@media only screen and (max-width: 1110px) {
	.sticky_btn {
	    width: 390px;
	}	
	.img_news1,
	.img_news4,
	.img_news5{
		width: 100%;
		height: auto;
	}
}
@media only screen and (max-width: 1103px) {
	.block_form2_right_block .answer_box_button{
		margin-left: 0;
	}
	.block_form2_right_block .answer_box_button .answer_box_button_item{
		padding: 11px 55px; 
	}
	.block_form2 .contact_box_form{
		margin-right: 3%;
	}
}
@media only screen and (max-width: 1100px) {
	.contact_box_franshiza.registration_box_franchiza .contact_box_form_label{
		width: 150px;
	}
	.cont_bx .contact_form_inp_wrap{
		width: 52%;
		max-width: inherit;
	}
	.cont_bx .form_row.mb75{
		margin-bottom: 30px;
	}
	.cont_bx .form_col.f_left .form_row:last-child{
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 1095px) {
	.sticky_btn {
	    width: 380px;
	}
}
@media only screen and (max-width: 1083px) {
	.contact_box_form_input{
		width: 193px;
	}
	.contact_box_franshiza_item .contact_box_form_item:not(:first-child),
	.contact_box_franshiza_item .captcha{
		padding-top: 10px;
	}
	.contact_box_franshiza_item .captcha img{
		width: 100px;
		height: auto;
	}
}
@media only screen and (max-width: 1075px) {
	.sticky_btn {
	    width: 375px;
	}	
}
@media only screen and (max-width: 1070px){
	.contact_box_franshiza_item .answer_box_franshiza{
		width: 330px;
	}
	.contact_box_franshiza_item .answer_box_button{display: block;}
	.contact_box_franshiza_item .answer_box_button_item{
		width: 100%;
		padding: 11.5px 0;
		display: block;
	}
}
@media only screen and (max-width: 1060px) {
	.sticky_btn {
	    width: 370px;
	}	
	.close_btn{
		right: 10px;
	}
}
@media only screen and (max-width: 1055px){
	.similar_franchise .similar_block_item2{
		margin: 0 8px 10px;
	}	
}
@media only screen and (max-width: 1050px){
	.box_text_with_img p{
		overflow: inherit;
	}
	.img_news{
		width: 50%;
		height: auto;
	}
	.new_txt_tab a{
		font-size: 18px;
		line-height: 21px;
	}
	.franshiza_single_box_img{
		width: 200px;	
	}
	.franshiza_single_box_caption{
		width: 270px;	
	}
}
@media only screen and (max-width: 1048px) {
	.similar_block_item2{
        margin: 0 8px 10px 8px;
	}
}
@media only screen and (max-width: 1046px) {
	.franshiza_single_box_caption{
		width: 270px;
	}
}
@media only screen and (max-width: 1045px) {
	.sticky_btn {
	    width: 360px;
	}	
}
@media only screen and (max-width: 1043px) {
	.franshiza_single_box_caption{
		width: 290px;
	}
}
@media only screen and (max-width: 1042px){
	.franshiza_single_box_caption{
		width: 271.234px;
	}
}
@media only screen and (max-width: 1040px){
	.contact_box_franshiza_item .answer_box_franshiza {
	    width: 315px;
	}
	.answer_box_franshiza_img{
		margin-right: 15px;
	}
	.message_send_box{
		width: 100%;
	}
}
@media only screen and (max-width: 1032px){
	.simple_tab .resp-tabs-list li span{
		font-size: 15px;
	}
	.simple_tab .resp-tabs-list li {
    	padding: 11px 15px 27px;
    }
}
@media only screen and (max-width: 1031px){
	.similar_block_item2{
		margin: 0 8px 10px;
	}
	.block_form2 .contact_box_form{
		width: 48%;
	}
	.contact_box_form_item.spam .contact_box_form_input{
		width: 148px;
	}
}
@media only screen and (max-width: 1030px) {
	.franshiza_single_box_caption .title1_1 br{display: none;}
	.franshiza_single_box_caption .title1_1{
		font-size: 23px;
	}
	.franshiza_single_box_caption .fz_18{
		font-size: 15px;
	}
	.representative_box{
		width: 204px;
	}
	.representative_box_image {
		width: 75px;
	}
	.representative_box_image img{
		width: 100%;
		height: auto;
	}
	.representative_box .btn2{
		font-size: 17px;
		padding: 6px 5px;
	}
	.franshiza_single_box_caption {
	     width: 257px; 
	}
}
@media only screen and (max-width: 1024px){
	.d_b_1024{
		display: block;
	}
	.d_n_1024{
		display: none;
	}
	.header_slogan{
		font-size: 18px;
		margin-bottom: 1px;
	}
	.header_slogan1{
		line-height: 18px;
		line-height: 20px;
	}
	.header {
	    padding: 3px 0 11px;
	}
	.header_sm_col1{
		width: 65%;
		margin: 0;
	}
	.sitemap_btn {
	    right: 0px;
	}
	.request_box_main .answer_box_button{
		border: none;
		width: 320px;
		margin:30px auto 0;
	}
	.request_box_main .answer_box_button_item{
		font-size: 22px;
	}
	.block_form2 .contact_box_form_label{
		font-size: 17px;
	}
	.footer_link{
		margin-top: 10px;
	}
	.heading{
		color: #4c4c4c;
	}
	.footer_right_list_item a {
		font-size: 18px;
	}
	.footer_right_list_item{
		margin-right: 30px;
	}
	.footer_text{
		padding-top: 23px;
	}
	.footer_right_list_item a,
	.footer_right_list_item2 a,
	.footer_link a{
		color: #1f497d;
	}
	.subscribe_form_label{
		font-size: 14px;
		margin-bottom: 5px;
	}
	.similar_block_link_item{
		color: #1f497d !important;
	}
	.block_form_item{
		padding: 10px 0;
	}
	.left_slides_block,
	.left_slides_block2{
		margin-bottom: 20px;
	} 
	.big_title{
		font-size: 25px;
		line-height: 29px;
	}
	.news_box_text a{
		color: #1F497D;
	}
	.step_box_item{
		padding-top: 5px !important;
	}
	.step_box_item.first{
		padding-left: 40px;
	}
	.step_box_item.second,
	.step_box_item.third{
		padding-left: 80px;
	}
	.contact_box_franshiza{
		padding: 16px 15px 24px;
	} 
	.similar_franchise,
	.left_news_block,
	.left_news_block2 {
		margin-top: 10px;
	}
	.news2_box_block .title1 span {
	    font-size: 24px;
	}
	.done2_btn_box button{
		float: left;
	}
	.enter_form_item .done2_btn_box,
	.message_send_search.done2_btn_box{
		width: auto;
	}
}
@media only screen and (max-width: 1023px) {
	.col_1_4, .col_3_4 {
        width: 100%;
	}
	.footer_left_block.col_1_4{
		width: 150px;
	}
	.footer_right_block.col_3_4{
		width: calc(100% - 180px);
	}
	.search_box,
	.sticky-wrapper{
		display: none;
	}
	.fransearch_itembox_main{
		display: block;
	}
	.fransearch_itembox_title {
        text-align: center;
        font-size: 18px;
        color: #1f497d;
        padding: 0px 32px 10px;
	}
	.fransearch_itembox_title br {
        display: none;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(1) {
        width: 44%;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(2) {
        float: right;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(3) {
        padding-bottom: 0;
        float: right;
	}
	.fransearch_itembox {
        padding-bottom: 5px;
        float: left;
        width: 50%;
        position: relative;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(1) .threeblock_one_text {
        height: 62px;
        text-align: center;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(1) .threeblock_one_text:after {
        top: 50%;
        margin-top: -4.5px;
	}
	.threeblock_one_text:after {
        content: "";
        position: absolute;
        right: 5px;
        top: 10px;
        background: url(../images/arr_down.png) 0 0 no-repeat;
        width: 15px;
        height: 9px;
        -webkit-transition: transform ease-in 0.2s;
        -moz-transition: transform ease-in 0.2s;
        -ms-transition: transform ease-in 0.2s;
        -o-transition: transform ease-in 0.2s;
        transition: transform ease-in 0.2s;
	}
	.threeblock_one_text.active.threeblock_one_text:after {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: transform ease-in 0.2s;
        -moz-transition: transform ease-in 0.2s;
        -ms-transition: transform ease-in 0.2s;
        -o-transition: transform ease-in 0.2s;
        transition: transform ease-in 0.2s;
	}
	.threeblock_one_text {
        border: 2px solid #d8d8d8;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        color: #1F497D;
        font: 16px/15px Tahoma;
        text-align: left;
        background-color: #FFF;
        width: 100%;
        display: block;
        height: 29px;
        padding: 0 20px 0 5px;
        outline-style: none;
        position: relative;
        cursor: pointer;
	}
	.threeblock_one_320, .threeblock_two_320, .threeblock_three_320 {
        display: none;
        padding: 10px 12px 10px 12px;
        border: 2px solid #dadada;
        border-top: none;
        -webkit-border-radius: 0 0 8px 8px;
        border-radius: 0 0 8px 8px;
        background-color: #FFF;
        z-index: 100;
        position: absolute;
        width: 100%;
        font-size: 11px;
        margin: -6px 0 0 0;
	}
	.pri {
        padding: 4px 0;
        display: block;
        padding-top: 0;
	}
	.fransearch_itembox .quest, .fransearch_itembox input[type="checkbox"] {
        display: none;
	}
	.fransearch_itembox .filter_label {
        display: block;
        position: relative;
        padding: 0 0 0 28px;
        color: #4c4c4c;
        font-size: 12px;
        font-family: Tahoma;
        margin: 0 0 4px 0;
        cursor: pointer;
        overflow: hidden;
	}
	.left_slides_block, 
	.left_slides_block2 ,
	.left_subscribe_block{
        margin-top: 10px;
	}
	.mini_slide_img_wrap{
		float: left;
		margin-right: 10px;
	}
	.mini_slide_item figcaption div{
		display: inline;
	}
	.subscribe_form button{
		width: 100%;
		display: block;
	}
	.pad_box .title1.mb25{text-align: center;}
	.fransearch_itembox_title span{
		font-size: 12px;
		line-height: 1.2;
		display: inline-block;
		vertical-align: bottom;
		color: gray;
	}
	.getall {
        color: #1f497d;
        text-decoration: underline;
	}
	.img_news {
        width: 40%;
	}
	.contact_box_franshiza_item .answer_box_franshiza,
	.contact_box_franshiza_item .contact_box_form{
		width: 48%;
	}
	.card_name{
		margin-bottom: 30px;
	}
	.contact_box_form_input {
        width: 70%;
	}
	.similar_franchise .title4_item{
		font-size: 26px;
	}
	.sticky_btns{
		width: 96%;
	}
	.sticky_btn {
        width: 475px;
	}
	.news_it .news_it_box {
        width: 100%;
        margin: 18px 0 0;
	}
	.news_it{
		margin: 1px 0 0;
	}
	.left_news_block2.mb39{
		margin-bottom: 10px;
	}
	.left_subscribe_block2{
		margin-top: 10px;
	}
	h2.resp-tab-active, .resp-tab-content-active {
        margin-bottom: 10px !important;
	}
	h2.resp-accordion {
        font-weight: 900;
	}
	.resp-tab-active span {
        color: #FFF !important;
	}
	.simple_tab .flex-direction-nav {
        display: none;
	}
	.simple_tab .flex-control-nav{
		position: static;
		padding-top: 5px !important;
	}
	.flexslider .slides img {
        width: 100%;
        height: auto;
	}
	.resp-tabs-container .box.box1 {
        padding: 5px;
	}
	.franshiza_single_box_caption .title1_1 {
        font-size: 24px;
	}
	.franshiza_single_box_caption,
	.franshiza_single_box_img {
        text-align: center;
        padding: 0;
        margin-bottom: 10px;
        float: none;
        width: 100%;
	}
	.franshiza_single_box_caption .fz_18 {
        font-size: 15px;
	}
	.franshiza_single_box ,
	.franshiza_single_box_img,
	.representative_box{
	    width: 100%;
	}
	.franshiza_single_box_img img{
		width: 100%;
		height: auto;
	}
	.representative_box {
        padding: 10px;
        text-align: left;
        margin-bottom: 10px;
	}
	.representative_box .btn2 {
        font-size: 18px;
        padding: 6px 3px;
	}
	.representative_box_image {
        width: auto;
        float: left;
        margin-right: 15px;
	}
	.representative_box_desc .fz_11{
		font-size: 15px;
	}
	.representative_box_desc .fz_10{
		font-size: 13px;
	}
	.representative_box_desc .fz_11 strong br{
		display: none;
	}
	.representative_box_desc .fz_10 strong{
		display: block;
	}
	.franshiza_single_box {
        margin-bottom: 10px;
        padding-left: 0;
	}
	.resp-tab-active:after {
        background: transparent;
	}
	.cont_bx .form_col,
	.enter_form_item{
        width: 100%;
        float: none;
	}
	.cont_bx .contact_form_inp_wrap ,
	.con_fm_bx .contact_form_text_wrap{
        width: 60%;
        padding: 5px 8px;
	}
	.done2_box_links2 {
        padding: 0px 40px 30px 40px;
	}
	.enter_box_block {
        padding: 40px 35px 0px 35px;
	}
	.enter_form_item .done2_btn_box button{
		float: left;
	}
	.enter_form_item .form_row {
        float: none;
	}
	.enter_form_item .contact_box_form_input{
		width: 65%;
	}
	.enter_form_item .contact_box_form_label,
	.otzyvy_left{
		font-size: 17px;
	}
	.otzyvy_list_box_item{
		font-size: 18px;
	}
	.done2_box_block .title1{
		padding-left: 0;
	}
	.registration_box_franchiza.contact_box_franshiza .contact_box_form, 
	.registration_box_franchiza.contact_box_franshiza .contact_box_form.second{
		width: 100%;
		padding: 0;	
	}
	.registration_box_franchiza.contact_box_franshiza .contact_box_form.second .contact_box_form_item:first-child{
		padding-top: 10px;
	}
	.registration_box_franchiza.contact_box_franshiza .contact_box_form_input{
		width: 65%;
	}
	.registration2_section .done2_box_block .title1{
		padding-left: 0;
	}
}
@media only screen and (max-width: 1015px) {
	.sticky_btn {
        width: 470px;
	}	
}
@media only screen and (max-width: 1005px) {
		
	.contact_box_franshiza.registration_box_franchiza .contact_box_form_label {
	    width: 140px;
	}
	.simple_tab iframe{
		width: 100%;
	}
	.sticky_btn {
	    width: 465px;
	}	
}
@media only screen and (max-width: 1000px) {
	.sticky_btn {
	    width: 460px;
	}
}
@media only screen and (max-width: 995px) {
	 .news_it .news_it_box {
	    padding: 15px;
	}
	.sticky_btn {
	    font-size: 13px;
	}
	.sticky_btn b {
	    font-size: inherit;
	}

}
@media only screen and (max-width: 992px) {
	.similar_block_link_item{
		font-size: 16px;
	}
	.similar_info span{
		font-size: 13px;
	}
	.similar_block_item2{
		width: 32%;
		margin: 0 2px 10px;
	}
	.block_form2 .captcha img{
		width: 105px;
	}
	.owl-car1 .empty{
		margin-top: 0;
	}
	.block_form2_right_block{
		margin-right: 0;
	}
	.request_box_main{
		padding: 14px 20px 25px 20px;
	}
	.similar_button .similar_button_item,
	.similar_button2 .similar_button_item span{
		font-size: 12px;
	}
	.similar_button .similar_button_item:before,
	.similar_button2 .similar_button_item:before,
	.similar_button2 .similar_button_item i{
		margin-left: -70px;
	}
	.contact_box_franshiza {
	    padding: 16px 10px 10px;
	}
	.card_name{
		margin-bottom: 30px;
	}
	.answer_box_proffession{
		font-size: 15px;
		line-height: 18px;
	}
	.similar_franchise .similar_block_item2{
		margin: 0 2px 10px;
	}	
	.similar_franchise{
		padding: 20px 10px 15px;
	}
	.news_it_box .top .nm {
	    font-size: 19px;
	}
	.sticky_btn {
	    width: 455px;
	}
	.franshiza_single_box{
	    padding: 0px 0 0 0px;
	}
	.registration_box_franchiza.contact_box_franshiza .contact_box_form, 
	.registration_box_franchiza.contact_box_franshiza .contact_box_form.second {
	    width: 100%;
	    padding: 0;
	}
	.registration_box_franchiza.contact_box_franshiza .contact_box_form_input {
	    width: 65%;
	}
	.registration_box_btn{
		text-align: center;
		float: none;
	}
	.registration_box_btn .btn2{
		display: inline-block;
	}
	.basket_fltr_img{
		margin-left: 0;
	}
	.basket_fltr_it{
		width: 185px;
	}
	.basket_fltr{
		padding: 20px 10px;
	}
}
@media only screen and (max-width: 980px) {
	.sticky_btn {
	    width: 450px;
	}
	.all_fields .f_left{
		margin-bottom: 15px;
	}
	.all_fields .form_row.f_right{
		text-align: center;
		overflow: inherit;
	}
	.all_fields .form_row.f_right .btn2.cont_btn{
		display: inline-block;
	}
}
@media only screen and (max-width: 974px) {
	.contact_box_form_item.spam .contact_box_form_input {
	    width: 125px;
	}
}
@media only screen and (max-width: 970px) {
	.header_sm_col1{
		width: 60%;
		padding-right: 20px;
	}
	.answer_box_franshiza_name{
		font-size: 14px;
	}
	.answer_box_proffession {
	    font-size: 13px;
	    line-height: 15px;
	}
	.answer_title{
		font-size: 18px;
		line-height: 20px;
	}
	.card_name{
		padding-top: 10px;
		margin-bottom: 20px;
	}
	.sticky_btn {
	    width: 445px;
	    padding: 6px 20px 5px 10px;
	}
}
@media only screen and (max-width: 964px){
	.sim_main_btn.sim_cards_btn {
        margin-left: -15px;
	}
}
@media only screen and (max-width: 960px){
	.sticky_btn{
		width: 440px;
	}
}
@media only screen and (max-width: 955px){
	.simple_tab .resp-tabs-list li{
		padding: 11px 15px 27px;
	}
}
@media only screen and (max-width: 951px){
	.simple_tab .resp-tabs-list li {
	    padding: 11px 12px 27px;
	}
}
@media only screen and (max-width: 950px){
	.sticky_btn{
		width: 435px;
	}
	.basket_fltr_it {
        margin: 4px 2px 6px;
	}
}
@media only screen and (max-width: 945px){
	.simple_tab .resp-tabs-list li {
    padding: 11px 10px 27px;
    }
    .simple_tab .resp-tabs-list li span{
    	font-size: 15px;
    }
}
@media only screen and (max-width: 940px) {
	.block_form2 .contact_box_form_label {
	    font-size: 15px;
	}
	.news_box_text .title1_item{
		font-size: 20px;
		line-height: 21px;
	}
	.news_box_text p{
		padding: 5px 0;
	}
	.big_title {
	    font-size: 22px;
	    line-height: 25px;
	}
	.sim_cards_btn .similar_button .similar_button_item span, 
	.sim_cards_btn .similar_button2 .similar_button_item span{
		font-size: 15px;
	}
	.sim_cards_btn .similar_button .similar_button_item:before, 
	.sim_cards_btn .similar_button2 .similar_button_item:before ,
	.sim_cards_btn .similar_button2 .similar_button_item i{
	    margin-left: -98px;
	}
}
@media only screen and (max-width: 935px){
	.sticky_btn{
		width: 430px;
	}
}
@media only screen and (max-width: 925px){
	.sticky_btn{
		width: 425px;
	}
	.sticky_btns{
		width: 95.5%;
	}
}
@media only screen and (max-width: 915px) {
	.sticky_btn{
		width: 420px;
	}
}
@media only screen and (max-width: 910px){
	.sticky_btn{
		width: 415px;
	}
	.popup_watch{
		left: 5px;
	}
}
@media only screen and (max-width: 900px) {
	.left_news_block,
	.left_news_block2,
	.left_subscribe_block2{
		margin-top: 10px;
	}
	.owl-car1 {
	    margin-bottom: 10px;
	}
	.sticky_btn {
	    width: 410px;
	}
	.simple_tab .resp-tabs-list li span {
	    font-size: 13px;
	}
}
@media only screen and (max-width: 891px) {
	.basket_fltr_it{
		margin: 4px 2px 6px 2px;
	}
	.basket_fltr{
		padding: 20px 10px;
	}
}
@media only screen and (max-width: 890px) {
	.news_it .news_it_box {
	    width: 100%;
	    margin: 18px 0 0;
	}
	.news_it {
	    margin: 0;
	}
	.franshiza_single_box_caption .add_link{
		font-size: 13px;
		padding: 3px 0 1px 28px;
	}
	.sim_main_btn.sim_cards_btn {
        margin-left: 0px;
	}
	.sticky_btn {
	    width: 405px;
	}
}
@media only screen and (max-width: 880px) {
	.box_text_with_img p,
	.news_box_text p{
		padding: 5px 0;
	}
	.contact_box_franshiza_item .contact_box_form_label {
	    font-size: 15px;
	    padding-top: 0;
	}
	.sticky_btn {
	    width: 400px;
	}
}
@media only screen and (max-width: 872px) {
	.similar_block_item2 {
        width: 31%;
    }
}
@media only screen and (max-width: 870px) {
	.footer_right_list_item{
		margin-right: 15px;
	}
	.footer_right_list_item a {
	    font-size: 16px;
	    line-height: normal;
	}
	.similar_franchise .similar_block_item2{
		width: 30%;
	}
	.sitemap_btn {
	    right: 10px;
	}
	.contact_box_form_item.spam .contact_box_form_input {
	    width: 100px;
	}
	.message_send_box .similar_button .similar_button_item, 
	.message_send_box .similar_button2 .similar_button_item span {
	    font-size: 11px;
	}
	.message_send_box .similar_button .similar_button_item:before, 
	.message_send_box .similar_button2 .similar_button_item:before,
	.message_send_box .similar_button2 .similar_button_item i {
	    margin-left: -60px;
	}
	.sticky_btn {
	    width: 395px;
	}
	.sticky_btns {
        width: 95.3%;
	}
}
@media only screen and (max-width: 864px) {
	.d_n_864{display: none;}
	.d_b_864{display: block;}
	.answer_title{
		text-align: center;
	}
	.answer_box_franshiza_name{
		font-size: 17px;
	}
	.answer_box_proffession {
	    font-size: 15px;
	    line-height: 18px;
	}
	.contact_box_franshiza_item .answer_box_button_item{
		font-size: 22px;
		padding: 4px 0;
		-webkit-border-radius: 50px;
		        border-radius: 50px;
	}
	.contact_box_franshiza_item .answer_box_button{
		margin-top: 10px;
	}
	.contact_box_franshiza_item .contact_box_form_input {
		width: 70%;
	}
}
@media only screen and (max-width: 860px){
	.sticky_btn {
	    width: 390px;
	}
	.popup_watch {
    	width: 440px;
    }
}
@media only screen and (max-width: 858px) {
	.header_sm_col1{
		width: 58%;
		padding-right: 15px;
	}
	.similar_block_link {
	    padding: 5px 0 0;
	}
	.similar_info span{
		line-height: normal;
	}
	.similar_info{
		padding: 5px 0;
	}
}
@media only screen and (max-width: 855px) {
	.similar_block_item2{
		margin: 0 1px 10px;
	}
}
@media only screen and (max-width: 850px) {
	.sticky_btn {
	    width: 385px;
	}
}
@media only screen and (max-width: 848px) {
	.answer_box_franshiza_img{
		width: 100px;
	}
	.answer_box_franshiza_name{
		font-size: 14px;
	}
	.contact_box_franshiza_item .answer_box_franshiza {
        width: 48%;
	}
}
@media only screen and (max-width: 845px) {
	.sticky_btn {
	    width: 380px;
	}
}
@media only screen and (max-width: 830px) {
	.sticky_btn {
	    width: 375px;
	}
	.simple_tab .resp-tabs-list li {
	    padding: 11px 5px 27px;
	}
	.simple_tab .resp-tabs-list li span {
	    font-size: 13px;
	}
}
@media only screen and (max-width: 828px) {
	.franshiza_single_box_caption .add_link {
    	font-size: 11px;
	    padding: 3px 0 3px 28px;
	}
	.sim_cards_btn .similar_button .similar_button_item span, 
	.sim_cards_btn .similar_button2 .similar_button_item span{
		font-size: 13px;
	}
	.sim_cards_btn .similar_button .similar_button_item:before, 
	.sim_cards_btn .similar_button2 .similar_button_item:before,
	.sim_cards_btn .similar_button2 .similar_button_item i {
	    margin-left: -83px;
	}
	.basket_fltr_it{
		width: 220px;
	}
}
@media only screen and (max-width: 825px) {
	.forgot_right{
		overflow: inherit;
		width: 100%;
	}
	.enter_form_item{
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.enter_form_box{
		padding: 30px 20px;
	}
	.enter_form_item .contact_box_form_input {
	    width: 70%;
	}
	.enter_form_item .form_row {
	    margin: 15px 0;
	}
	.enter_form_item .done2_btn_box button{
		float: none;
		margin: 0;
	}
}
@media only screen and (max-width: 819px) {
	.header_sm_col1{
		width: 57%;
		padding-right: 0;
	}
	.done_box__links2{
		margin-left: 10px;
	}
}
@media only screen and (max-width: 815px){
	.contact_box_form_input {
	    width: 65%;
	}
	.contact_box_form_item.spam .contact_box_form_input {
	    width: 85px;
	}
	.block_form2_right_block{
		overflow: inherit;
	}
	.news_link_box a{
		font-size: 14px;
	}
	.contact_box_franshiza_item .contact_box_form_input{
		width: 65%;
	}
	.contact_box_franshiza_item .contact_box_form{
		width: 48%;
	}
	.sticky_btn {
	    width: 370px;
	}
}
@media only screen and (max-width: 810px) {
	.sticky_btn {
	    width: 365px;
	}
}
@media only screen and (max-width: 804px){
	.similar_button .similar_button_item, 
	.similar_button2 .similar_button_item span {
        font-size: 11px;
	}
	.similar_button .similar_button_item:before, 
	.similar_button2 .similar_button_item:before, 
	.similar_button2 .similar_button_item i {
        margin-left: -65px;
	}
	.item_car{text-align: center;}
}
@media only screen and (max-width: 803px) {
	.sticky_btns {
	    width: 94.9%;
	}
	.sticky_btn {
	    width: 360px;
	}
	.done_box__links2 {
	    margin-left: 0px;
	}
	.basket_fltr_lnk{
		padding-left: 20px;
	}
	.basket_fltr_img{
		margin-left: 0;
	}
	.basket_fltr_it {
        width: 180px;
	}
}
@media only screen and (max-width: 801px) {
	.header_sm_col1{
		width: 55%;
		margin-right: 0;
	}	
	.step_box_item_span i{
		left: -21px;
	}
	.step_box_item.second, 
	.step_box_item.third {
	    padding-left: 58px;
	}
	.step_box_item.first {
	    padding-left: 24px;
	}
	.step_box_item_span {
	    font-size: 20px;
	    line-height: 22px;
	}
}
@media only screen and (max-width: 795px) {
	.header_slogan{
		font-size: 16px;
	}
	.header_slogan1{
		font-size: 11px;
		line-height: 15px;
	}
	.footer_right_list_item a ,
	.footer_right_list_item2 a{
	    font-size: 14px;
	}
	.footer_right_list_item2 a{
		margin-right: 15px;
	}
	footer {
	    margin-top: 20px;
	}
	.similar_block_item2{
		margin: 5px 2px 10px;
	}
	.item_car{
		margin: 0 25px;
		text-align: center;
	}
	.similar_button .similar_button_item:before, 
	.similar_button2 .similar_button_item:before, 
	.similar_button2 .similar_button_item i {
        margin-left: -65px;
	}
	.step_box_item_span {
	    font-size: 19px;
	    line-height: 21px;
	}
	.pager a{
		margin-right: 5px;
	}
}
@media only screen and (max-width: 790px){
	.sticky_btn {
	    width: 360px;
	}
}
@media only screen and (max-width: 780px){
	.sticky_btn {
	    width: 355px;
	}
}
@media only screen and (max-width: 771px) {
	.simple_tab .resp-tabs-list li {
	    padding: 11px 4px 27px;
	}
	.simple_tab .resp-tabs-list li span {
	    font-size: 12px;
	}
	.sticky_btn {
	    width: 350px;
	}
}
@media only screen and (max-width: 768px) {
 
 	.d_b_768,
 	.fransearch_itembox_main ,
 	.sticky-wrapper{
 		display: block;
 	}
 	.sticky-wrapper {
		height: 22px !important;
 	}
 	
	.sticky-wrapper.is-sticky .btn_fixed.stickybtn.posit{
    	position: fixed !important;
    	top: 77px !important;
  	}
  	.sticky-wrapper.is-sticky .btn_fixed.stickybtn.posit.posit2{
  		position: fixed !important;
  		top: 0 !important;
  	}
	.fransearch_itembox_main .sticky-wrapper .btn_fixed.stickybtn{
		position: static !important;
		height: 22px !important;
	}
	.d_n_768,
	.search_box{
		display: none;
	}
	.col_1_4,
	.col_3_4{
		width: 100%;
	}
	.footer_left_block.col_1_4{
		width: auto;
	}
	.block_form2 .contact_box_form{
		width: 49%;
		float: left;
		margin-right: 15px;
	}
	.block_form2_right_block{
		overflow: hidden;
	}
	.left_slides_block,
	.left_slides_block2{
		margin-bottom: 10px;
		margin-top: 10px;
	}
	input.txt_field1{
		width: 75%;
		float: right;
		height: 32px;
	}
	.subscribe_form_label{
		float: left;
	}
	.fransearch_itembox_title {
	    text-align: center;
	    font-size: 18px;
	    color: #1f497d;
	    padding: 0px 32px 10px;
	}
	.fransearch_itembox {
	    padding-bottom: 5px;
	    float: left;
	    width: 50%;
	    position: relative;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(1) {
	    width: 44%;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(2) {
	    float: right;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(3) {
	    padding-bottom: 0;
	    float: right;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(1) .threeblock_one_text {
	    height: 62px;
	    text-align: center;
	}
	.threeblock_one_text:hover {
	    background-color: #F4F4F4;
	}
	.active.threeblock_one_text {
	    z-index: 101;
	}
	.pri {
	    padding: 4px 0;
	    display: block;
	    padding-top: 0;
	}
	.threeblock_one_text {
	    border: 2px solid #d8d8d8;
	    -webkit-border-radius: 8px;
	    border-radius: 8px;
	    color: #1F497D;
	    font: 16px/15px Tahoma;
	    text-align: left;
	    background-color: #FFF;
	    width: 100%;
	    display: block;
	    height: 29px;
	    padding: 0 20px 0 5px;
	    outline-style: none;
	    position: relative;
	    cursor: pointer;
	}
	.threeblock_one_text:after {
	    content: "";
	    position: absolute;
	    right: 5px;
	    top: 10px;
	    background: url(../images/arr_down.png) 0 0 no-repeat;
	    width: 15px;
	    height: 9px;
	    -webkit-transition: transform ease-in 0.2s;
	    -moz-transition: transform ease-in 0.2s;
	    -ms-transition: transform ease-in 0.2s;
	    -o-transition: transform ease-in 0.2s;
	    transition: transform ease-in 0.2s;
	}
	.fransearch_itembox_title br {
	    display: none;
	}
	.fransearch_itembox_title span {
	    font-size: 13px;
	    line-height: 2;
	    color: #808080;
	}
	.fransearch_itembox_main .fransearch_itembox:nth-child(1) .threeblock_one_text:after{
	    top: 50%;
	    margin-top: -4.5px;
	}
	.threeblock_one_320,
	.threeblock_two_320, 
	.threeblock_three_320 {
	    display: none;
	    padding: 10px 12px 10px 12px;
	    border: 2px solid #dadada;
	    border-top: none;
	    -webkit-border-radius: 0 0 8px 8px;
	    border-radius: 0 0 8px 8px;
	    background-color: #FFF;
	    z-index: 100;
	    position: absolute;
	    width: 100%;
	    font-size: 11px;
	    margin: -6px 0 0 0;
	}
	.fransearch_itembox .filter_label {
	    display: block;
	    position: relative;
	    padding: 0 0 0 28px;
	    color: #4c4c4c;
	    font-size: 12px;
	    font-family: Tahoma;
	    margin: 0 0 4px 0;
	    cursor: pointer;
	    overflow: hidden;
	}
	.fransearch_itembox .quest,
	.fransearch_itembox input[type="checkbox"]{
		display: none;
	}
	.threeblock_one_text.active.threeblock_one_text:after {
	    -webkit-transform: rotate(180deg);
	    -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	    -o-transform: rotate(180deg);
	    transform: rotate(180deg);
	    -webkit-transition: transform ease-in 0.2s;
	    -moz-transition: transform ease-in 0.2s;
	    -ms-transition: transform ease-in 0.2s;
	    -o-transition: transform ease-in 0.2s;
	    transition: transform ease-in 0.2s;
	}
	.btn_fixed {
	    position: relative;
	    bottom: 0;
	    background-color: #1F497D;
	    height: 22px;
	    clear: both;
	    width: 100%; 
	    z-index: 33;
	    -webkit-border-radius: 5px;
	    border-radius: 5px;
	    text-align: center;
	}
	.top_anchor_btn{
		font-size: 18px;
		color: #FFF;
		text-align: center;
	}
	.top_anchor_btn span{
		color: #FFF;
		display: inline-block;
	    padding-left: 48px;
	    background: url(../images/iconca.png) 0 80% no-repeat;
	}
	.sticker {
	    z-index: 99999;
	    height: 77px;
	    position: fixed;
	    top: 0;
	    width: 93.7%;
	    background-color: white;
	    padding-top: 10px;
	}
	.btn_fixed.top_zero {
	    top: 0 !important;
	}
	.similar_block_item2{
		width: 31%;
	}
	.header_sm_col1{
		width: 50%;
	}
	.sitemap_btn {
	    right: 0;
	}
	.sticky-wrapper2 {
		height: 0 !important;
	}
	.getall{text-decoration: underline;}
	.contact_box_franshiza .title3_item{
		text-align: center;
	}
	.sticky_btns {
	    width: 94.8%;
	}
	.sticky_btn {
	    width: 345px;
	}
	.franshiza_single_box_caption .add_link {
	    font-size: 13px;
	    padding: 2px 0 2px 28px;
	}
	.resp-tab-active:after{
		background: transparent;
	}
	.text_part h1{
		font-size: 22px;
		line-height: 1;
	}
	.simple_tab .box{
		padding: 15px;
	}
	.hint_btn{
		left: 0;
		display: none;
	}
	.simple_tab .box .list1 li{
		padding:0;
	}
	.sim_cards_btn .similar_button .similar_button_item span, 
	.sim_cards_btn .similar_button2 .similar_button_item span{
		font-size: 16px;
	}
	.sim_cards_btn .similar_button .similar_button_item:before, 
	.sim_cards_btn .similar_button2 .similar_button_item:before ,
	.sim_cards_btn .similar_button2 .similar_button_item i{
	    margin-left: -105px;
	}
	.done_box__links2 {
	    margin-left: 10px;
	    width: 300px;
	}
	.done_box__links2_it{
		padding: 8px 10px; 
		font-size: 17px;
	}
	.done_box__links1_it{
		line-height: 40px;
	}
	.done2_box_links2{
		padding-bottom: 25px;
	}
	.enter_box_block {
	    padding: 20px 0px 0px 0px;
	}
	.enter_form_box{
		margin-top: 20px;
	}
	.otzyvy_list_box{
		margin-right: 0;
	}
	.left_subscribe_block{
		margin-top: 10px;
	}
}
@media only screen and (max-width: 767px){
	.d_b_767,
	.request_box_main .answer_box_button.d_none.d_b_480,
	.fransearch_itembox_title br,
	.pad_box > .title1 span,
	.request_box_main > .title4_item .small_text_h2{display: block;}
	.d_n_767,
	.item_car.d_n_660,
	.header_sm_col2,
	.header .col_1_4 .logo a img,
	.request_box_main .answer_box_button.d_none.d_b_1024.d_n_480{display: none;}
	.similar_franchise .similar_block_item2{
		display: block;
		width: 100%;
		margin-bottom: 25px;
	}
	
	.request_box_main > .title4_item,
	.request_box_main .heading{
		text-align: center;
	}
	.similar_franchise .similar_block_img{
		width: auto;
		margin-right: 20px;
		float: left;
	}
	.similar_franchise .similar_block_link{
		text-align: left;
		overflow: hidden;
	}
	.similar_franchise .similar_info{
		overflow: hidden;
	}
	.similar_franchise .similar_info span br{
		display: none;
	}
	.similar_franchise .sim_main_btn {
	    padding-top: 20px;
	    clear: both;
	}
	.similar_franchise .similar_button .similar_button_item,
	.similar_franchise .similar_button2 .similar_button_item span {
	    font-size: 15px;
	}
	.similar_franchise .similar_button .similar_button_item:before, 
	.similar_franchise .similar_button2 .similar_button_item:before,
	.similar_franchise .similar_button2 .similar_button_item i {
	    margin-left: -80px;
	}
	.owl-car1.owl-carousel .owl-item {
	    float: none !important;
	    transform: none !important;
	}
	.owl-car1.owl-carousel .owl-stage, 
	.owl-car1.owl-carousel .owl-wrapper, 
	.owl-car1.owl-carousel .owl-item {
	    -webkit-transform: none !important;
	    -moz-transform: none !important;
	    -ms-transform: none !important;
	    -o-transform: none !important;
	    transform: none !important;
	    -webkit-backface-visibility: inherit;
	    -moz-backface-visibility: inherit;
	    -ms-backface-visibility: inherit;
	    left: 0 !important;
	    width: auto !important;
	}
	.owl-car1.owl-carousel .owl-wrapper-outer {
	    height: auto !important;
	}
	.owl-car1 .owl-controls {
	    display: none !important;
	}
	.similar_block_item2 {
        width: 48%;
        margin: 5px 4px 10px;
	}
	.header_box_button {
	    width: 275px;
	    margin: 10px auto;
	    display: block;
	}
	.header_box_button_item {
	    background-color: transparent;
	    outline-style: none;
	    border: 1px solid #D8D8D8;
	    -webkit-border-radius: 5px;
	    border-radius: 5px;
	    margin: 0 5px;
	    text-align: center !important;
	    padding: 0;
	    cursor: pointer;
	}
	.header_box_button_item.one {
	    width: 160px;
	    height: 30px;
	    font: 16px/22px Tahoma;
	    text-align: center;
	    color: #4C4C4C;
	}
	.header_box_button_item.two {
	    width: 90px;
	    height: 30px;
	    font: 16px/22px Tahoma;
	    text-align: center;
	    color: #4C4C4C;
	}
	.header_box_button_item:hover {
	    background-color: #f4f4f4;
	}
	.header_box_button .header_box_button_item.two {
	    margin-right: 0;
	}
	.header .col_1_4 .logo a{
        background: url(../images/logo_320.jpg) 0 0 no-repeat;
        width: 178px;
        height: 23px;
        margin: auto;
        display: block;
	}
	.header_sm_col1 ,
	.request_box_main .answer_box_button_item,
	.request_box_main .answer_box_button{
        width: 100%;
	}
	.sitemap_btn{
		display: inline-block;
        position: static;
        margin-left: 13px;
        margin-top: 4px;
	}
	.header_slogan {
        font-size: 23px;
        padding: 8px 5px 8px 0;
        letter-spacing: -1.5px;
		text-align: center;
	}
	.header_slogan1{
		font-size: 14px;
		line-height: 20px;
		color: #4c4c4c;
	}
	.header .col_1_4, 
	.header .col_3_4{
        width: 100%;
        float: none;
	}
	.block_form2 .contact_box_form {
        width: 100%;
        margin-right: 0;
        float: none;
	}
	.contact_box_form_input,
	.contact_box_form_input:hover, 
	.contact_box_form_input:focus{
		border: 2px solid #d8d8d8;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
	.contact_box_form_item ,
	.captcha{
	    padding-top: 5px;
	}
	.request_box_main .answer_box_button_item{
		-webkit-border-radius: 50px;
		        border-radius: 50px;
	}
	.block_form2_right_block {
	    overflow: inherit;
	}
	.block_form2_right_p{
		padding: 25px 0 10px;
	}
	.block_form2_right_p,
	.block_form2_right_block .form_row .filter_label{
		font-size: 12px;
		line-height: 15px;
	}
	.block_form_item{
		font-size: 14px;
		border: 2px solid #D8D8D8;
	    line-height: 15px !important;
	    padding: 6px;
	}
	.basket_fltr{
		border: 2px solid #D8D8D8;
	}
	.footer_left_block.col_1_4 .logo_foot_item a img,
	.footer_link,
	.footer_right_list_item2.d_n_480{
		display: none;
	}
	.footer_right_list_item a, 
	.footer_right_list_item2 a{
		font-size: 17px;
		color: #1f497d !important;
	}
	.footer_right_list_item a{
	    font-weight: 600;
    	letter-spacing: -0.8px;
	}
	.footer_right_list_item ,
	.footer_right_list_item2{
		float: none;
		margin: 0;
		padding: 4px 0;
	}
	.footer_right_list,
	.footer_right_list2{
		 width: 49%;
        display: inline-block;
		padding-bottom: 5px;
        margin-top: 6px;
	}
	.footer_text p{
		font-size: 13px;
		line-height: 20px;
		color: #4c4c4c;
	}
	.footer_text .copy{
		font-size: 14px;
		padding-bottom: 5px;
	}
	.footer_text{
		background-color: #f4f4f4;
		padding: 10px 15px;
	}
	.list_fotter_center {
        display: block;
	}
	.list_fotter_center li {
        float: none;
        text-align: center;
        margin-bottom: 10px;
	}
	.list_fotter_center li a {
        font-size: 17px !important;
        color: #1f497d !important;
        padding: 4px 0px;
        text-decoration: underline;
        list-style-type: none;
	}
	.search_320 {
		display: block;
	    width: 223px;
	    margin: auto;
	    position: relative;
	    padding-bottom: 15px;
	}
	.input_320_search {
	    border: 2px solid #d8d8d8;
	    -webkit-border-radius: 5px !important;
	    border-radius: 5px !important;
	    float: left;
	    height: 30px;
	    width: 223px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    outline-style: none;
	    -webkit-box-shadow: none !important;
	    box-shadow: none !important;
	    border-image: none;
	    padding: 6px 30px 6px 10px !important;
	}
	.btn_with_input {
	    background: url(../images/btn_search_inp.png) 0 0 no-repeat;
	    float: left;
	    position: absolute;
	    right: 0px;
	    top: 0px;
	    border: none;
	    display: block;
	    width: 30px;
	    height: 30px;
	    outline-style: none;
	    cursor: pointer;
	}
	.footer_left_block.col_1_4,
	.footer_right_block.col_3_4{
		width: 100%;
		float: none;
	}
	.header .col_1_4 .logo a img{
		display: none;
	}
	
	.footer_left_block.col_1_4 .logo_foot_item a{
		background: url(../images/logo_320.jpg) 0 0 no-repeat;
		width: 178px;
	    height: 23px;
	    margin: auto;
	    display: block;
	}
	
	.contact_box_franshiza_item .answer_box_button.d_n_864{display: none;}
	.contact_box_franshiza_item .answer_box_button.d_b_864{display: block;}
	.contact_box_franshiza_item .contact_box_form,
	.contact_box_franshiza_item .answer_box_franshiza,
	.contact_box_franshiza .contact_box_franshiza_item .answer_box_franshiza,
	.contact_box_franshiza .contact_box_franshiza_item .contact_box_form{
		width: 100%;
		float: none;
	}
	.card_name{
		width: 60%;
		margin:0 auto 20px;
	}
	.mini_slide_img_wrap{
		float: none;
		margin-right: 0;
	}
	.mini_slide_img_wrap{
		float: none;
		margin-right: 0;
	}
	.fransearch_itembox_title span, .pad_box .title1 small, .small_text_h2 {
        color: #1f497d;
        font-size: 15px;
        line-height: 25px;
        display: block;
	}
	.fransearch_itembox_title {
        font-size: 22px;
        width: 354px;
        padding: 15px 32px;
        margin: auto;
	}
	.pad_box .title1 span,
	.title4_item{
		font-size: 22px;
		display: block;
	}
	.pad_box .title1,
	.title4_item{
		text-align: center;
	}
	.news_link_box a {
        float: none;
        display: block;
        padding: 2.5px 0;
	}
	.news_link_box{
		text-align: center;
	}
	.con_fm_bx input.txt_field,.con_fm_bx textarea.txt_field{
		border: 2px solid #d8d8d8;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
	.all_fields .f_left {
        width: 100%;
        float: none;
	}
	.all_fields .form_row.f_right {
        float: none;
	}
	.done_box__links2 {
        margin-left: 10px;
        width: 100%;
        display: block;
        text-align: center;
	}
	.done_box__links2_it {
        padding: 8px 10px;
        font-size: 17px;
        text-align: center;
        width: 300px;
	}
	.done2_btn_box button {
        background-color: #1f497d;
        border: 3px solid #1f497d;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        padding: 5px 10px;
        display: block;
        float: none;
        margin-bottom: 20px;
	}
	.done2_box_links2{
		padding-bottom: 0;
	}
	.done2_box_links span, 
	.done2_box_links a{
		display: block;
		float: none;
		margin-left: 0;
	}
	.enter_form_item .contact_box_form_input{
		width: 60%;
	}
	.message_send_box .done2_btn_box button {
        float: none;
        display: inline-block;
	}
	.message_send_box .message_send_search.done2_btn_box{
		text-align: center;
	}
	.glossary_section_item .fz18 {
        font-size: 17px;
	}
	.registration_box_franchiza .contact_box_franshiza_subscription .registration_box_btn .btn2{
		background-color: #1f497d;
       	border: 4px solid #1f497d;
	}
}
@media only screen and (max-width: 758px) {
	.sticky_btn {
	    width: 340px;
	}
}
@media only screen and (max-width: 755px) {
	.sticky_btn {
	    width: 335px;
	}
}
@media only screen and (max-width: 745px) {
	.sticky_btn {
	    width: 330px;
	}
}
@media only screen and (max-width: 735px) {
	.sticky_btn {
	    width: 325px;
	}
}
@media only screen and (max-width: 725px) {
	.sticky_btn {
	    width: 330px;
	}
}
@media only screen and (max-width: 720px) {
	.sticky_btn {
	    width: 325px;
	}
}
@media only screen and (max-width: 715px) {
	.sticky_btn {
	    width: 320px;
	}
	.sticky_btns {
	    width: 93.8%;
	}
}
@media only screen and (max-width: 710px) {
	.sticky_btn {
	    width: 320px;
	}
}
@media only screen and (max-width: 705px) {
	.sticky_btn {
	    width: 315px;
	}
}
@media only screen and (max-width: 695px) {
	.sticky_btn {
	    width: 310px;
	}
}
@media only screen and (max-width: 685px) {
	.sticky_btn {
	    width: 305px;
	}
}
@media only screen and (max-width: 672px) {
	.basket_fltr_it {
        width: 170px;
	}
}
@media only screen and (max-width: 670px) {
	.sticky_btn {
	    width: 300px;
	}
}
@media only screen and (max-width: 660px) {
	.d_b_660{display: block;}
	.d_n_660{display: none;}
	.getall{
		color: #1f497d;
	}
	.item_car{
		margin: 0;
	}
	.block_form .heading{
		text-align: center;
		font-size: 16px;
		font-weight: 600;
	}
	.heading{
		font-size: 15px;
		text-align: center;
	}
	.news_list_item p{
		font-size: 13px;
		line-height: 16px;
	}
	.similar_block_img{
		width: 100%;
		display: inline-block;
	}
	.sitemap_btn{
		margin-right: -50px;
	}
	.left_news_block  .title2{
		text-align: center;
	}
	.content_sm_box1 {
	    padding-bottom: 15px;
	    margin-bottom: 10px;
	}
	.content_sm_box1 .title2{text-align: center;} 
	.pager a{
		padding: 6px 10px;
		margin-right: 2px;
	}
	.news2_box_block .title1 span {
	    font-size: 20px;
	}
	.news2_box_block .title1 small {
	    font-size: 13px;
	}
	.sticky_btn {
	    width: 295px;
	}
	.done2_btn_box button{
		background-color: #1f497d;
		border: 3px solid #1f497d;
		-webkit-border-radius: 100px;
		        border-radius: 100px;
		padding: 5px 10px;
	}
	.form_box.con_fm_bx .contact_form_label{
		font-size: 16px;
	}
	.form_box.con_fm_bx .capcha_img{
		padding-top: 10px;
	}
	.img_news {
        width: 300px;
	}
}
@media only screen and (max-width: 650px) {
	.sticky_btn {
	    width: 290px;
	}
}
@media only screen and (max-width: 640px) {
	.sticky_btn {
	    width: 286px;
	}
}
@media only screen and (max-width: 635px){
	.sticky_btn {
        width: 280px;
		}
}
@media only screen and (max-width: 625px) {
	.sticky_btn {
	    width: 276px;
	}
}
@media only screen and (max-width: 620px) {
	.sitemap_btn {
	    margin-right: -25px;
	}
	.news2_box_block .art {
	    padding: 20px 0px 0;
	}
}
@media only screen and (max-width: 610px) {
	.sticky_btn {
	    width: 266px;
	}
}
@media only screen and (max-width: 600px) {
	.sticky_btn {
	    width: 260px;
	}
}
@media only screen and (max-width: 585px) {
	.sticky_btn {
	    width: 255px;
	}
}
@media only screen and (max-width: 580px) {
	.sitemap_btn {
	    margin-right: 0px;
	}	
}
@media only screen and (max-width: 575px) {
	.sticky_btn {
	    width: 251px;
	}
}
@media only screen and (max-width: 570px) {
	.sitemap_btn {
        margin-right: -10px;
	}
}
@media only screen and (max-width: 560px) {
	.done2_box_block .title1 {
	    padding: 25px 0 13px 30px;
	}
	.done2_box_links2 {
	    padding: 0px 0px 25px 0px;
	}
	.done2_box_links2 p{
		padding: 15px 0;
	}
	.sticky_btn {
        width: 245px;
	}
}
@media only screen and (max-width: 556px) {
	.similar_block_item2{
		width: 45%;
	}
}
@media only screen and (max-width: 555px) {
	.sitemap_btn {
        margin-right: -15px;
	}
}
@media only screen and (max-width: 550px) {
	.header_slogan{
		font-size: 20px;
	}
	.header_slogan1 {
	    font-size: 12px;
	}
	.sticky_btn {
	    width: 240px;
	}
}
@media only screen and (max-width: 545px) {
	.sitemap_btn {
        margin-right: 0px;
	}
}
@media only screen and (max-width: 540px) {
	.sticky_btn {
	    width: 235px;
	}
}
@media only screen and (max-width: 530px) {
	.sticky_btn {
	    width: 230px;
	}
	.done_box__links2{
		margin-left: 0;
	}
}
@media only screen and (max-width: 520px) {
	.sticky_btn {
	    width: 231px;
	}
}
@media only screen and (max-width: 516px) {
	.popup_watch {
    	width: 360px;
    	left: 30px;
    }
    .popup_title{
    	font-size: 25px;
    }
    .popup_text{
    	width: 100%;
    }
}
@media only screen and (max-width: 510px) {
	.sticky_btn {
	    width: 225px;
	}
}
@media only screen and (max-width: 508px) {
	.header_sm_col2{
		width: 219px;
	}
}
@media only screen and (max-width: 500px) {
	.header_sm_col2{
		width: 200px;
	}
	input.header_search_inp{
		width: 154px;
	}
	.step_box_item_span {
	    font-size: 15px;
	    line-height: 17px;
	}
	.step_box_item {
	    font-size: 11px;
	    line-height: 14px;
	}
	.step_box_item_span i {
	    left: -14px;
	}
	.step_box_item.second, .step_box_item.third {
	    padding-left: 54px;
	}
	.step_box_item.first {
	    padding-left: 21px;
	}
	.answer_box_franshiza_name {
	    font-size: 14px;
	}
	.answer_box_proffession {
	    font-size: 11px;
	    line-height: 15px;
	}
	.answer_box_franshiza_img{
		width: 100px;
	}
	.sticky_btn {
	    width: 214px;
	}
	.sticky_btns {
	    width: 91.8%;
	}
	.registration_box_franchiza.contact_box_franshiza .contact_box_form_input {
	    width: 55%;
	}
}
@media only screen and (max-width: 496px) {
	.sitemap_btn {
	    margin-right: -10px;
	}
}
@media only screen and (max-width: 485px) {
	.sticky_btn {
	    width: 210px;
	}
}
@media only screen and (max-width: 480px) {
	.d_b_480{display: block;}
	.d_n_480,
	.header_sm_col2{
		display: none;
	}
	.search_320 {
		display: block;
	    width: 223px;
	    margin: auto;
	    position: relative;
	    padding-bottom: 15px;
	}
	.input_320_search {
	    border: 2px solid #d8d8d8;
	    -webkit-border-radius: 5px !important;
	    border-radius: 5px !important;
	    float: left;
	    height: 30px;
	    width: 223px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    outline-style: none;
	    -webkit-box-shadow: none !important;
	    box-shadow: none !important;
	    border-image: none;
	    padding: 6px 30px 6px 10px !important;
	}
	.btn_with_input {
	    background: url(../images/btn_search_inp.png) 0 0 no-repeat;
	    float: left;
	    position: absolute;
	    right: 0px;
	    top: 0px;
	    border: none;
	    display: block;
	    width: 30px;
	    height: 30px;
	    outline-style: none;
	    cursor: pointer;
	}
	.request_box_main .answer_box_button,
	.request_box_main .answer_box_button_item{
		width: 100%;
	}
	.request_box_main .answer_box_button{
		margin: 10px 0;
	}
	.request_box_main .answer_box_button_item{
		padding: 11.5px 0;
	}
	.request_box_main {
	    padding: 14px 10px 25px;
	}
	.block_form2_right_p {
	    padding: 5px 0 10px;
	}
	.lg_btn{
		font-size: 18px !important;
	}
	.simple_tab .flex-control-nav li{
		margin: 0 4px;
	}
	.simple_tab .flex-control-paging li a{
		width: 15px;
		height: 15px;
	}
	.simple_tab .box .list1.fz_16{
		margin-bottom: 10px;
		font-size: 14px;
	}
	.new_img_tab{
		display: block;
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}
	.new_txt_tab{
		overflow: initial;
		display: block;
	}
	.done_box__links2_it {
	    padding: 6px 10px;
	    font-size: 14px;
	}
	.done_box_block_item p{
		padding: 0;
	}
	.done_box__links1_it{
		font-size: 16px;
	}
	.done_box_block_item{
		padding-bottom: 25px;
	}
	.done_box_block .title5_item {
	    margin: 20px 0;
	    font-size: 22px;
	    text-align: center;
	    line-height: 25px;
	}
}
@media only screen and (max-width: 479px){
	.similar_franchise .similar_block_img{
		width: auto;
		margin-right: 0;
		float: none;
	}
	.similar_franchise .similar_block_link{
		text-align: center;
		overflow: initial;
	}
	.similar_franchise .similar_info{
		overflow: initial;
	}
	.similar_franchise .sim_main_btn {
	    padding-top: 0px;
	    clear: none;
	    padding-bottom: 5px;
	}
	.similar_franchise .similar_block_link_item,
	.simple_tab .box .fz_28.dk_blue.mb21{
		font-size: 18px;
	}
	.similar_block_item2{
		width: 100%;
		margin: 8px 0 10px;
	}
	.step_main_box {
        margin-top: 10px;
	}
	.con_fm_bx .capcha_img {
        width: 95px;
	}
	.done2_btn_box button:first-child{
		margin: 0 auto 20px;
	}
	.enter_form_item .done2_btn_box button{
		margin: 0;
	}
	.done2_btn_box button:last-child{
		margin-bottom: 0;
	}
	.done2_btn_box button{
		margin: 0 auto 20px;
	}
	.otzyvy_title{
		font-size: 26px;
		line-height: 30px;
	}
	.otzyvy_title2{
		font-size: 21px;
		line-height: 1.3;
	}
	.otzyvy_list_box_item{
		font-size: 16px;
	}
	.otzyvy_right_block_img,
	.otzyvy_right_block_img2{
		width: 100%;
	}
}
@media only screen and (max-width: 475px) {
	.sticky_btn {
	    width: 205px;
	}
}
@media only screen and (max-width: 465px) {
	.sticky_btn {
	    width: 198px;
	}
}
@media only screen and (max-width: 460px) {
	.popup_watch {
	    width: 285px;
	    left: 20px;
	    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3); 
	    -moz-box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
	    -webkit-box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
	}
	.popup_title{
		padding-bottom: 10px;
		font-size: 22px;
	}
}
@media only screen and (max-width: 452px) {
	.basket_fltr_it {
        width: 160px;
	}
	.basket_fltr_lnk a,
	.del{
		font-size: 14px;
	}
}
@media only screen and (max-width: 450px) {
	.threeblock_one_text {
	    font: 13px/15px Tahoma;
	    height: 28px;
	    padding: 0 17px 0 3px;
	}
	.fransearch_itembox .filter_label{
		font-size: 11px;
		margin: 0;
	}
	.pri{
		padding: 0;
		line-height: 15px;
	}
	.pri input[type="radio"] {
	    margin: 2px 4px 2px 4px;
	}
	.fransearch_itembox_title {
	    font-size: 18px;
	    width: 354px;
	    padding: 5px 10px;
	    margin: auto;
	}
	.pad_box .title1 span, 
	.title4_item{
		font-size: 18px;
	}
	.fransearch_itembox_title span, 
	.pad_box .title1 small, 
	.small_text_h2{
		font-size: 14px;
	}
	.block_form_item,
	.heading,
	.block_form .heading{
		font-size: 12px;
	}
	.similar_block_link_item {
	    font-size: 13px;
	}
	.similar_button .similar_button_item, 
	.similar_button2 .similar_button_item span{
		font-size: 11px;
	}
	.block_form2_right_p, 
	.block_form2_right_block .form_row .filter_label{
		color: #4c4c4c;
	}
	.img_news3{
		float: none;
	}
}
@media only screen and (max-width: 448px) {
	.sticky_btn {
	    width: 192px;
	}
}
@media only screen and (max-width: 440px) {
	.sticky_btn {
	    width: 184px;
	    font-size: 11px;
	}
	.done2_btn_box {
	    width: 100%;
	}
	.cont_bx .contact_form_inp_wrap, 
	.con_fm_bx .contact_form_text_wrap{
		width: 55%;
	}
	.registration_box_franchiza.contact_box_franshiza .contact_box_form_input {
        width: 50%;
	}
}
@media only screen and (max-width: 435px) {
	.search_box_input{
		width: 80%;
	}
}
@media only screen and (max-width: 432px) {
	.basket_fltr_it {
        width: 140px;
	}
	.basket_fltr_lnk {
        padding-left: 10px;
	}
}
@media only screen and (max-width: 430px) {
	.pad_box {
	    padding: 10px 32px 15px;
	}
	.footer_right_list_item a, 
	.footer_right_list_item2 a,
	.form_box.con_fm_bx .contact_form_label{
		font-size: 15px;
	}
	.cont_bx .contact_form_inp_wrap {
	    width: 55%;
	}
	.done_box__links2_it{
		width: 100%;
	}
}
@media only screen and (max-width: 420px) {
	.sticky_btn {
	    width: 174px;
	}
}
@media only screen and (max-width: 414px) {
	.done2_btn_box button{
		width: 100%;
		margin-left: 0;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 410px) {
	.subscribe_form_label{
		line-height: 2.2;
	}
	input.txt_field1 {
	    width: 70%;
	}
	.answer_box_franshiza_name {
	    line-height: normal;
	    font-size: 13px;
	}
	.card_name {
	    width: 90%;
	}
	.search_box_input{
		width: 75%;
	}
}
@media only screen and (max-width: 400px) {
	.img_news2 {
		float: none;
	}
	.sticky_btn {
	    width: 164px;
	}
	.contact_box_franshiza.registration_box_franchiza .contact_box_form_label{
		width: 105px;
	}
}
@media only screen and (max-width: 390px) {
	.form_box.con_fm_bx .contact_form_label{
		width: 90px;
		padding-right: 0;
	}
	.cont_bx .contact_form_inp_wrap, 
	.con_fm_bx .contact_form_text_wrap{
		padding: 5px 0;	
	}
	.con_fm_bx textarea.area_h200{
		height: 125px;
		padding: 5px;
	}
}
@media only screen and (max-width: 385px) {
	.fransearch_itembox_title{
		width: 300px;
	}
	.sticky_btns {
	    width: 88.8%;
	}
	.sticky_btn {
	    width: 155px;
	}
}
@media only screen and (max-width: 380px) {
	.footer_right_list_item a, 
	.footer_right_list_item2 a {
	    font-size: 13px;
	}
	.step_box_item_span {
	    font-size: 12px;
	    line-height: 14px;
	}
	.step_box_item {
	    font-size: 10px;
	    line-height: 12px;
	    padding-top: 10px !important;   
	}
	.step_box_item_span i {
	    left: -12px;
	}
	.step_box_item.second, .step_box_item.third {
	    padding-left: 51px;
	    padding-right: 0;
	}
	.step_box_item.first {
	    padding-left: 17px;
	}
}
@media only screen and (max-width: 370px) {
	.sticky_btn {
	    width: 144px;
	}	
	.otzyvy_list_box_item {
	    font-size: 14px;
	    margin-bottom: 15px;
	}
	.form_box.con_fm_bx .contact_form_label{
		display: inline-block;
	}
	.popup_watch {
	    width: 260px;
	}

}
@media only screen and (max-width: 360px) {
	.img_news {
	        width: 250px;
	}
}
@media only screen and (max-width: 350px) {
	.fransearch_itembox .filter_label{
		line-height: 17px;
	}
	.similar_info span {
	    font-size: 12px;
	}
	input.txt_field1 {
	    width: 60%;
	}
	.similar_button .similar_button_item, 
	.similar_button2 .similar_button_item {
	    padding: 6px 0 6px 20px;
	}
	.sort_btn {
	    font-size: 12px;
	    margin: 0;
	}
	.contact_box_form_item.spam .contact_box_form_input {
	    width: 125px;
	}
	.enter_form_item .contact_box_form_input {
	    width: 60%;
	}
	.popup_watch {
	    left: 10px;
	    width: 235px;
	}
	.search_box_input{
		width: 70%;
	}
}

@media only screen and (max-width: 345px) {
	.sticky_btn {
	    width: 141px;
	    font-size: 10px;
	}	
}
@media only screen and (max-width: 340px) {
	.sticky_btn {
	        width: 135px;
	        font-size: 10px;
	}
}
@media only screen and (max-width:333px){
	.btn1{
		padding: 12px 5px 8px; 
	}
}
@media only screen and (max-width:330px){
	.sticky_btn {
	    width: 135px;
	}
}
@media only screen and (max-width:325px){
	.sticky_btn {
	    width: 130px;
	}
}
@media only screen and (max-width:320px){
	.similar_button .similar_button_item, 
	.similar_button2 .similar_button_item span {
	    font-size: 11px;
	}
	.similar_button .similar_button_item:before, 
	.similar_button2 .similar_button_item:before ,
	.similar_button2 .similar_button_item i{
	    margin-left: -65px;
	}
	.block_form2_right_block .form_row .filter_label{
		padding: 0px 0px 2px 32px;
	}
	.news_list_item .link2{
		font-size: 14px;
	}
	.step_main_box{
		margin-top: 10px;
	}
	.sticky_btns {
	    width: 277px;
	}
	.sticky_btn {
	    width: 137px;
	}
}