.fw_bold{font-weight: bold;}
.fw_normal{font-weight: normal;}
.ov_inherit{
	overflow: inherit !important;
}
.td_und{text-decoration: underline;}
.bkg_no{background: none !important;}
.title1_item{
	font-size: 24px;
	line-height: 25px;
	color: #111111;
}
.title2_item{
	font-size: 18px;
	line-height: 21px;
	color: #111111;
}
.title3_item{
	font-size: 22px;
	line-height: 24px;
	color: #1f497d;
}
.title4_item{
	font-size: 29px;
	line-height: 35px;
	color: #1f497d;
}
.title5_item{
	font-size: 26px;
	line-height: 30px;
	color: #1f497d;
}
.fz14{font-size: 14px;}
.fz14_imp{font-size: 14px !important;}
.fz18{font-size: 18px;}
.fz24{font-size: 24px;line-height: 0.6;}

.black_color{
	color: #111111;
}
.blue_color{color: #0072BC;}
.blue_color2{color: #004A80;}

.step_main_box{
	background: url(../images/actions-bg.png) 0 0 repeat;
	width: 100%;
	height: 82px;
    padding: 0px 2px;
    border-top: 2px solid #91c5ff;
    border-bottom: 2px solid #0264d2;
	-webkit-border-radius: 12px;
	        border-radius: 12px;
}
	.step_main_box_item{
		height: 100%;
		-webkit-border-radius: 12px;
		        border-radius: 12px;
		overflow: hidden;
	}
		.step_box_item{
			font-size: 16px;
			line-height: 17px;
			display: inline-block;
			float: left;
			color: #808080;
			position: relative;
			height: 100%;
		}
			.step_box_item_span{
				font-size: 26px;
				line-height: 29px;
				color: #1F467D;
				display: block;
				position: relative;
				z-index: 10;
			}
			.step_box_item_span i{
				position: absolute;
				left: -30px;
				top: 0;
				font-style: normal;
			}
			.step_box_item.first{
				background: #fafafa; /* Old browsers */
				background: -moz-linear-gradient(top,  #fafafa 0%, #f1f1f1 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #fafafa 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #fafafa 0%,#f1f1f1 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #fafafa 0%,#f1f1f1 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #fafafa 0%,#f1f1f1 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
				padding: 11px 5px 0px 60px;
				width: 25.555%;
    			-webkit-border-radius: 12px 0 0 12px;
    			        border-radius: 12px 0 0 12px;
			}
				.step_box_item.first:after{
					background: url(../images/step-s1.png) 100% 0 no-repeat;
					position: absolute;
					right: -36px;
					top: 0;
					height: 100%;	
					content: "";
					width: 38px;	
				}

			.step_box_item.second{
				width: 33.3%;
				padding: 11px 5px 0 96px;
				color: #FFF;
			}
			.step_box_item.second .step_box_item_span{
				color: #FFF;
			}
				.step_box_item.second:after{
					background: url(../images/step-s3.png) 100% 0 no-repeat;
					height: 100%;				
					position: absolute;
					right: -38px;
					top: 0;	
					content: "";
					width: 38px;
					z-index: 9;
				}

			.step_box_item.third{
				background: #fafafa; /* Old browsers */
				background: -moz-linear-gradient(top,  #fafafa 0%, #f1f1f1 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #fafafa 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #fafafa 0%,#f1f1f1 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #fafafa 0%,#f1f1f1 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #fafafa 0%,#f1f1f1 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
				width: 41.116%;
				padding: 11px 5px 0 98px;
				-webkit-border-radius: 0 12px 12px 0;
				        border-radius: 0 12px 12px 0;
			}

.news_box_text{
	padding: 74px 0 0 0;
	font-size: 16px;
	line-height: 20px;
	color: #4c4c4c;
}
	.big_title{
		font-size: 30px;
		line-height: 32px;
		color: #1F497D;
		margin-bottom: 12px;
	}
	.time_box{
		font-size: 16px;
		line-height: 20px;
		color: #808080;
		padding-bottom: 10px;
		display: inline-block;
	}
.news_box_text p{
	margin-bottom: 0px;
	padding: 10px 0;
}
.news_box_text a{
	color: #0063d1;
	text-decoration: underline;
}
.box_text_with_img {
	
}
	.box_text_with_img p{
		overflow: hidden;
		padding: 10px 0;
		margin-bottom: 0;
	}

.text_list{
	margin-left: 40px;
}

.news_link_box{
	padding: 20px 0 18px;	
}
	.news_link_box a{

	}

.contact_box_franshiza{
	border: 2px solid #0163d1;
	background: -moz-linear-gradient(top, #fafafa, #efefef);
    background: -webkit-linear-gradient(top, #fafafa, #efefef);
    background: -o-linear-gradient(top, #fafafa, #efefef);
    background: -ms-linear-gradient(top, #fafafa, #efefef);
    background: linear-gradient(top, #fafafa, #efefef);
    padding: 16px 36px 24px 20px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    width: 100%;
    margin-top: 10px;
}

.contact_box_franshiza_item{
	
}
.contact_box_franshiza_item .answer_box_button.d_b_864{display: none;}
	.contact_box_franshiza_item .contact_box_form{
		width: 345px;	
		margin-right: 0;
	}
	.contact_box_form{
		width: 353px;
		float: left;
		margin-right: 5.5%;
	}
		.contact_box_form_item{
			padding-top: 20px;
		}
			.contact_box_form_label{
				font-size: 20px;
				font-weight: 200;
	    		color: #4c4c4c;
	    		padding-top: 2px;
			}
			.contact_box_form_input{
				width: 218px;
				height: 28px;
				border: 1px solid #999;
				padding: 0px 8px;
				outline-style: none;
				-webkit-border-radius: 10px !important;
				        border-radius: 10px !important;
			    box-shadow: 0px 3px 0px #ebebeb;
			    -moz-box-shadow: 0px 3px 0px #ebebeb;
			    -webkit-box-shadow: 0px 3px 0px #ebebeb;
			}
				.contact_box_form_input.error{
					background-color: #EDBAD5;
				}
				.contact_box_form_input:hover,
				.contact_box_form_input:focus{
					border: 1px solid #666;
				}
		.captcha{
			padding-top: 20px;
		}
			.captcha img{
				margin-right: -19px;
			}

		.contact_box_form_item.spam{
			padding-top: 8px;
		}
		.contact_box_form_item.spam .contact_box_form_input{
			width: 173px;
		}

	.answer_box_franshiza{
		float: right;
		width: 363px;
		padding-top: 21px;
	}
		.answer_title{
			color: #4C4C4C;
		    font-size: 20px;
		    font-weight: 200;
		    line-height: 22px;
		}
		.card_name{
			padding-top: 16px;
			margin-bottom: 77px;
		}
			.answer_box_franshiza_img{
				-webkit-border-radius: 18px;
				        border-radius: 18px;
			    width: 119px;
			    overflow: hidden;
			    float: left;
			    margin-right: 36px;
			}
				.answer_box_franshiza_img img{
					-webkit-border-radius: 18px;
					        border-radius: 18px;
				    width: 100%;
				    height: auto;
				    overflow: hidden;
				}
			.answer_box_franshiza_text{
				overflow: hidden;
				padding-top: 1px;
			}
				.answer_box_franshiza_name{
					font-size: 17px;
					font-weight: bold;
					margin-bottom: 10px;
					color: #000;
				}
				.answer_box_proffession{
					font-size: 16px;	
					line-height: 19px;
					display: inline-block;
				}

		.answer_box_button{
			display: inline-block;
			border: 1px solid #1d7ae0;
			-webkit-border-radius: 20px;
			        border-radius: 20px;
		}
			.answer_box_button_item{
				border: 3px solid #1f497d;
				-webkit-border-radius: 20px;
				        border-radius: 20px;
				-webkit-box-shadow: 0 3px 0 #e5e5e5;
				        box-shadow: 0 3px 0 #e5e5e5;
				color: #FFF;
				font-size: 24px;
				line-height: 26px;
				padding: 11.5px 60px;
				text-align: center;
				display: inline-block;
				outline-style: none;
				background: #1f497d;
				cursor: pointer;
			}

.contact_box_franshiza_subscription{
	margin-top: 24px;
}
	.contact_box_franshiza_subscription .form_row{
		margin-bottom: 12px;
		font-size: 14px;
		color: #505050;
	}
	.contact_box_franshiza_subscription .form_row input[type="checkbox"] ,
	.block_form2_right_block .form_row input[type="checkbox"]{
	    display: none;
	}
	.filter_label {
	    display: block;
	    position: relative;
	    padding: 0px 0px 0px 32px;
	    color: #424242;
	    cursor: pointer;
	    overflow: hidden;
	    font-size: 14px;
	    text-align: left;
	}
	input[type="checkbox"] + .filter_label:before {
	    content: "";
	    position: absolute;
	    top: 2px;
	    left: 0;
	    display: inline-block;
	    width: 14px;
	    height: 17px;
	    background: url(../images/fcheck.png) 0px 0px no-repeat;
	}
	input[type="checkbox"]:checked+.filter_label:before {
	    background-position: -14px 0;
	}
	
.similar_franchise{
	border: 2px solid #d8d8d8;
	padding: 22px 28px 15px 30px;
	margin-top: 41px;
	-webkit-border-radius: 24px;
	        border-radius: 24px;
}
	.similar_franchise_p{
		font-size: 16px;
		line-height: 20px;
		color: #808080;
	}
	.similar_franchise_block_item{
		text-align: center;
	}
		.similar_block_item2{
			width: 27.6%;
			margin: 0 18px 10px 18px;
			text-align: center;
			display: inline-block;
			vertical-align: baseline;
		}
			.similar_block_img{
				text-align: center;
			    vertical-align: middle;
			    display: inline-block;
			    line-height: 65px;
			}
				.similar_block_img img{
					height: auto;
					width: 100%;
				}

			.similar_block_link{
				padding: 25px 0 7px;
			}
				.similar_block_link_item{
					font-size: 20px;
					color: #005ABF !important;
					text-decoration: underline !important;
				}
				.similar_block_link_item:hover{
					color: #0077ff;
					text-decoration: underline;
				}

			.similar_info{
				
			}
				.similar_info span{
					font-size: 14px;
					color: #4c4c4c;
				}
					.similar_info span:first-child{
						padding: 5px 0 0;
					}
					.similar_info span:last-child{
						color: #000002;
					}

			.sim_main_btn{
				margin-top: 10px;					
			}
			.sim_main_btn.sim_cards_btn{
				margin-left: -30px;
			}
				.sim_cards_btn .similar_button .similar_button_item,
				.sim_cards_btn .similar_button .similar_button_item:hover,
				.sim_cards_btn .similar_button2 .similar_button_item,
				.sim_cards_btn .similar_button2 .similar_button_item:hover{
					background-color: transparent;
					padding: 0;
				}
				.sim_cards_btn .similar_button .similar_button_item:before,
				.sim_cards_btn .similar_button2 .similar_button_item:before,
				.sim_cards_btn .similar_button2 .similar_button_item i{
					margin-left: -105px;
				}
				
					.sim_cards_btn .similar_button .similar_button_item span,
					.sim_cards_btn .similar_button2 .similar_button_item span{
						color: #0063d1;
						border-bottom: 1px dashed #005abf;
		    			font-weight: bold;
		    			font-size: 16px;
		    			line-height: 20px;
					}
					
					.sim_cards_btn .similar_button .similar_button_item:hover span,
					.sim_cards_btn .similar_button2 .similar_button_item:hover span{
						border-bottom: none;
						color: #0077ff;
					}


				.similar_button{
				}
					.similar_button .similar_button_item{
					    width: 100%;
					    -webkit-border-radius: 10px;
					            border-radius: 10px;
					    display: inline-block;
					    border: none;
					    padding: 11px 0 11px 28px;
					    cursor: pointer;
					    font-size: 16px;
					    line-height: 18px;
					    font-weight: 100;
					    color: #FFF;
					    outline-style: none;
					    background-color: #1f497d;
					    position: relative;
					}
					.similar_button .similar_button_item:hover{background-color: #005abf;}
					.similar_button .similar_button_item:before{
					    background: url(../images/selectbl-bg.png) 0px 0px no-repeat;
						content: "";
						position: absolute;
						top: 50%;
						margin-top: -9.5px;
						margin-left: -85px;
						left: 50%;
						width: 22px;
						height: 19px;
						display: block;
					}
					
				.similar_button2{
				    display: none;
				}
					.similar_button2 .similar_button_item{
					    width: 100%;
					    -webkit-border-radius: 10px;
					            border-radius: 10px;
					    display: block;
					    border: none;
					    padding: 11px 0 11px 28px;
					    cursor: pointer;
					    font-weight: 100;
					    outline-style: none;
					    background-color: transparent;
					    position: relative;
					}
						.similar_button2 .similar_button_item span{
					     	border-bottom: 1px dashed #005abf;
					     	font-weight: bold;
					    	color: #0063d1;
					    	font-size: 16px;
					    	line-height: 18px;
					    	font-family: Tahoma;
						}
						.similar_button2 .similar_button_item span:hover{
							border-bottom: none;
							color: #0077ff;
						}
					.similar_button2 .similar_button_item:before,
					.similar_button2 .similar_button_item i{
						background: url(../images/selectbl-bg.png) 0px bottom no-repeat;
						content: "";
						position: absolute;
						top: 50%;
						margin-top: -9.5px;
						margin-left: -85px;
						left: 50%;
						width: 22px;
						height: 19px;	
						display: block;
					}
/*owlcarousel start*/
	.owl-car1{
		margin-bottom: 15px;
	}
	.owl-car1 .owl-prev, .owl-car1 .owl-next {
	    position: absolute;
	    top: 50%;
	    margin-top: -130px;
	    display: block;
	    width: 70px;
	    height: 260px;
	    overflow: hidden;
	    cursor: pointer;
	}
	.owl-car1 .owl-prev.disabled, .owl-car1 .owl-prev.disabled:hover{
	    background: url(../images/left-1.png);
	    z-index: 1000;
	}
	.owl-car1 .owl-prev:hover {
	    background: url(../images/left-4.png);
	    z-index: 1000;
	}
	.owl-car1 .owl-prev{
		left: -35px;
	    background: url(../images/left-2.png);
	    z-index: 1000;
	}
	.owl-car1 .owl-next.disabled, .owl-car1 .owl-next.disabled:hover{
	    background: url(../images/right-1.png);
	    z-index: 1000;
	}
	.owl-car1 .owl-next:hover {
	    background: url(../images/right-4.png);
	    z-index: 1000;
	}
	.owl-car1 .owl-next {
	    right: -20px;
	    background: url(../images/right-2.png);
	    z-index: 1000;
	}
	.item_car{
		margin:0 32px;
	}
	.owl-car1 .empty{
		position: relative;
	    width: 100%;
	    height: 446px;
	    border: 3px dotted #e6e6e6;
	    text-align: center;
	    border-radius: 10px;
	    -moz-border-radius: 10px;
	    -webkit-border-radius: 10px;
	    margin: 80px 0 10px;
	    padding: 120px 0 0;
	}
	.owl-car1 .empty h4{
		color: #4c4c4c;
		font-size: 30px;
		line-height: normal;
		font-weight: 200;
	}
	.owl-car1 .empty p{
		font-size: 16px;
		line-height: 30px;
		color: gray;
	}
	.owl-car1 .empty p a{
		font: 16px/20px Tahoma;
	    color: #0063d1;
	    padding-top: 10px;
	    text-decoration: none;
	    border-bottom: 1px dashed #0063d1;
	    cursor: pointer;
	}
/*owlcarousel end*/
.fransearch_itembox_main {
    display: none;
}
/*=======================index start=======================*/
	.request_box_main{
	    border: 2px solid #0163d1;
	    background: #fafafa;
	    background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#efefef));
	    background: -webkit-linear-gradient(top, #fafafa 0%,#efefef 100%);
	    background: -o-linear-gradient(top, #fafafa 0%,#efefef 100%);
	    background: -ms-linear-gradient(top, #fafafa 0%,#efefef 100%);
	    background: linear-gradient(to bottom, #fafafa 0%,#efefef 100%);
	    border-radius: 10px;
	    -moz-border-radius: 10px;
	    -webkit-border-radius: 10px;
	    margin: 0;
	    padding: 14px 10px 25px 20px;
	}
		.small_text_h2{
			font-size: 16px;
			line-height: 1.2;
			vertical-align: middle;
			color: gray;
		}
		.block_form{
			padding: 14px 0 22px;
		}
			.heading{
				font-size: 20px;
				color: #808080;
			}
			.block_form_item{
				font-size: 18px;
				line-height: 20px;
				color: red;
				text-align: center;
				background-color: #FFF;
				margin-top: 13px;
				-webkit-border-radius: 10px;
				        border-radius: 10px;
				padding: 10px;
			}
.basket_fltr{
	background-color: #FFF;
	padding: 20px;
	margin-top: 13px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
}
	.basket_fltr_it{
		width: 230px;
		margin: 4px 16px 6px 4px;
	}
		.basket_fltr_img{
			float: left;
			width: 54px;
			text-align: center;
			margin-left: 18px;
		}
			.basket_fltr_img a{
				display: inline-block;
			}
		.basket_fltr_lnk{
			overflow: hidden;
			padding-left: 35px;
		}
			.basket_fltr_lnk a{
				text-decoration: underline;
				font-size: 16px;
				line-height: normal;
				color: #0063D1;
				display: block;
			}
			.basket_fltr_lnk a:hover{
				color: #0077ff;
			}
			.del{
				display: inline-block;
				font-size: 16px;
				line-height: normal;
				color: #005abf;
				border-bottom: 1px dashed #005abf;
				margin-left: 15px;
				cursor: pointer;
				position: relative;
			}
			.del:before{
				background: url(../images/filters-item-bg.png) 0 0 no-repeat;
				content: "";
				left: -15px;
				position: absolute;
				top: -2px;
				width: 15px;
				height: 20px;
				display: inline-block;
			}
			.del:hover:before{
				background-position: 0 -23px;
			}
			.del:hover{
				color: #0077ff;				
			}


		.block_form2{
			padding-top: 6px;
		}
			.block_form2_right_block{
				overflow: hidden;	
				margin-right: 20px;			
			}
				.block_form2_right_p{
					padding: 15px 0 30px;
					margin-bottom: 0;
					color: #808080;
					font-size: 15px;
					line-height: 20px;
				}
				.block_form2_right_block .form_row{
					padding-bottom: 12px;	
					margin-bottom: 0;
				}
					.block_form2_right_block .form_row .filter_label{
						font-size: 15px;
						line-height: 20px;
						color: #808080;
					}
			.block_form2_right_block .answer_box_button{
				margin-top: 21px;
				margin-left: 26px;
			}
				.block_form2_right_block .answer_box_button .answer_box_button_item{
					font-size: 22px;
					padding: 11px 64.5px;
				}
			.block_form2 .contact_box_form_item.spam {
			    padding-top: 5px;
			}
			
			.block_form2 .captcha img{
				margin-right: 0;
			}
/*=======================index end=========================*/

/*=======================news2 start=========================*/
.news2_box_block{
	padding-top: 21px;
}
	.news_it {
	    margin-left: -7px;
	    margin-right: -14px;
	    margin-top: 1px;
	}
	.news_it .news_it_box {
	    position: relative;
	    padding: 20px;
	    margin: 18px 7px 0px;
	    border-radius: 12px;
	    -moz-border-radius: 12px;
	    -webkit-border-radius: 12px;
	    border: 2px solid #d8d8d8;
	    width: 48%;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    float: left;
	    display: inline-block;
	}
		.news_it_box .top {
		    padding-bottom: 15px;
		}
			.news_it_box .top .date {
			    display: block;
			    font: 16px/20px Tahoma;
			    color: #808080;
			}
			.news_it_box .top .nm {
			    font: 20px/100% Tahoma;
			    color: #1f497d;
			    line-height: 21px;
			}

		.news_it .news_it_box .image {
		    overflow: hidden;
		}
		.news_it_box .new_txt {
		    font-size: 16px;
		    color: #111111;
		    padding-top: 3px;
		    line-height: 19px;
		}
		.news_it_box .new_txt .more_lnk_main {
		    display: block;
		}
		.news_it_box .new_txt a.more_lnk {
		    display: inline-block;
		}
		.news_it_box a{
			color: #0063d1;
			text-decoration: underline;
		}
		.news_it_box a:hover{
			color: #0077ff;
		}

.news2_box_block .art {
    padding: 20px 30px 0; 
}
	.show_mr{
		font-size: 16px;
		text-align: center;
		padding-bottom: 5px;
	}
		.show_mr a{
			display: inline-block;
		}

	.pager {
	    padding: 19px 0px 0px;
	    text-align: center;
	}
		.pager .arr{color: #FFF;}
		.pager a {
		    padding: 10px 15.5px;
		    margin-right: 22px;
		    display: inline-block;
		    background: #eee;
		    text-decoration: none;
		    font-size: 16px;
		    line-height: 20px;
		}
			.pager a:hover ,
			.pager .active {
			    color: #fff ;
			    background: #1f497d;
			    cursor: pointer;
			}
	
/*=======================news2 end=========================*/
.news_item{
	margin-bottom: 20px;
}
.news_item:after{
	content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.new_img_tab{
	margin-right: 28px;
	width: 100px;
}
	.new_img_tab img{
		max-width: 100%;
		width: 100%;
		height: auto;
	}
.new_txt_tab{
	
}
	.new_txt_tab a{
		color: #005ABF;
		text-decoration: underline;
		font-size: 20px;
		line-height: 24px;
	}
	.new_txt_tab a:hover{
`		color: #0077ff;
		text-decoration: underline;
	}
	.pb0{padding-bottom: 0 !important;}

/*==================about start==================*/
.about_box.news_box_text{
	padding: 74px 30px 0;
}
/*==================about end==================*/

/*==================done start==================*/
.done_box_block{
	
}
	.done_box_block .title5_item{
		margin: 34px 0;
	}

	.done_box_block_item{
		text-align: center;
		border: 3px dotted #e6e6e6;    
		padding: 50px 10px 46px;
		min-height: 130px;
		-webkit-border-radius: 22px;
		        border-radius: 22px;
	}
		.done_box_block_item p{
			font-size: 14px;
			color: #000;
			font-weight: bold;
			line-height: normal;
			padding: 0 30px;
		}
		.done_box_block_item_links{
			margin-top: 34px;
		}
			.done_box__links1{
				
			}
				.done_box__links1_it{
					line-height: 46px;
					font-size: 18px;
					text-decoration: underline !important;
					color: #0063d1;
				}
				.done_box__links1_it:hover,
				.done_box__links2_it:hover{color: #0077ff;}

			.done_box__links2{
				width: 327px;
				margin-left: 25px;
			}
				.done_box__links2_it{
				    text-decoration: none;
				    padding: 11px 20px;
				    -webkit-border-radius: 18px;
				            border-radius: 18px;
				    color: #fff;
				    font-weight: 300;
				    text-align: center;
				    font-size: 18px;
				    line-height: 20px;
				    border: 2px solid #3b5a7f;
				    box-shadow: inset 0 0 3px #3b5a7f;
				    background-color: #0163d2;
				    width: 100%;
				}
/*==================done end==================*/

/*==================done2 start==================*/
.done2_box_block{
	
}
.done2_box_block .title1{
	padding: 55px 0 13px 30px;
}
	.done2_box_links{
		font-size: 17px;
		line-height: 21px;
		background: url(../images/tabs-bg.png) 0px 100% no-repeat;
		overflow: hidden;
		padding: 0px 0px 43px 6px;
	}
		.done2_box_links a{
			float: left;
			text-align: center;
			position: relative;
		    height: 41px;
		    padding: 9px 24px 0px;
		    margin-left: 8px;
		    top: 2px;
		    border-bottom: none;
		    color: #0063d1;
		}
		.done2_box_links span{
		    border: 2px solid #e9e9e9;
		    border-bottom: none;
		    border-radius: 10px 10px 0px 0px;
		    -moz-border-radius: 10px 10px 0px 0px;
		    -webkit-border-radius: 10px 10px 0px 0px
			color: #4c4c4c;
			text-align: center;
			background-color: #FFF;
			float: left;
		    padding: 9px 24px 0px;
		    margin-left: 6px;
		    height: 41px;
		}
		.done2_box_links a:hover,
		.done2_box_links2_item a:hover{
			color: #0077ff;
		}

	.done2_box_links2{
		padding: 4px 72px 0 40px;
	}
		.done2_box_links2_item{
			padding: 5px 0;
			margin: 4px 0;
		}
		.done2_box_links2_item a{
			display: inline-block;
			text-decoration: underline !important;
			font-weight: 700;
			color: #0063d1;
		}
	.done2_box_links2 p{
	    padding: 15px 0px 30px;
	    font-size: 14px;
	    line-height: 20px;
	    color: #000001;
	    margin-bottom: 0;
	}
		.done2_btn_box button{
			text-decoration: none;
		    padding: 9px 10px;
		    -webkit-border-radius: 18px;
		    border-radius: 18px;
		    color: #fff;
		    font-weight: 300;
		    text-align: center;
		    font-size: 18px;
		    line-height: 20px;
		    border: 2px solid #3b5a7f;
		    box-shadow: inset 0 0 3px #3b5a7f;
		    background-color: #0163d2;
		    width: 180px;
		    outline-style: none;
		    cursor: pointer;
		}
		.done2_btn_box button:first-child{
			margin-left: 20px;
		}
/*==================done2 end====================*/
/*==================enter start==================*/
.enter_box_block{
	padding: 67px 60px 0px 50px;
}
	.enter_box_block .title1{
		
	}
	.enter_form_box{
		border: 2px solid #0163d1;
		background: -moz-linear-gradient(top,#fafafa,#efefef)!important;
	    background: -webkit-linear-gradient(top,#fafafa,#efefef)!important;
	    background: -o-linear-gradient(top,#fafafa,#efefef)!important;
	    background: -ms-linear-gradient(top,#fafafa,#efefef)!important;
	    background: linear-gradient(top,#fafafa,#efefef)!important;
	    -webkit-border-radius: 10px;
	            border-radius: 10px;
	    padding: 50px 20px 24px;
	    margin-top: 31px;
	}
		.enter_form_item{
			width: 280px;
			float: left;
			margin-right: 50px;
		}
		.enter_form_item input[type="checkbox"]{
			display: none;
		}
			.enter_form_item .done2_btn_box{
				margin-top: 19px;
			}
				.enter_form_item .done2_btn_box button{
					padding: 4px 10px;
					width: 175px;
					margin-left: 0;
				}
				.enter_form_item .contact_box_form_input{
					width: 183px;
				}
				.enter_form_item .form_row{
					margin-left: 105px;
					margin-top: 20px;
				}
				.enter_form_item .contact_box_form_item:first-child{
					padding-top: 0;
				}
				.enter_form_item .contact_box_form_item{
					padding-top: 30px;
				}
				.enter_form_item .filter_label{
					color: #808080;
				}

		.forgot_right{
			margin-right: 20px;
		}
			.forgot_right a{
				font: 20px/20px Tahoma;
			    border-bottom: 1px dashed #0063D1;
			    text-decoration: none;
			    color: #0063D1;
			    display: inline-block;
			    margin-bottom: 8px;
			}
			.forgot_right p{
				font-size: 16px;
				line-height: 20px;
				color: #4c4c4c;
			}
/*==================enter end====================*/
/*==================message_send start====================*/
.message_send_box{
	width: 740px;
	margin-top: 10px;
	padding: 53px 10px 30px;
	border: 3px dotted #e6e6e6;
	-webkit-border-radius: 22px;
	        border-radius: 22px;
}
	.message_send_box p{
		color: gray;
		margin-bottom: 5px;
	}
.message_send_box .similar_block_item2{
	width: 30%;
	margin: 0 5px 10px;
}
.message_send_search{
	margin-top: 25px;
}
	.message_send_search.done2_btn_box button{
		width: auto;
		margin: 0;
		padding: 8px 10px;
	}
	.message_send_box .similar_franchise {
	    padding: 0;
	    border: none;
	}
/*==================message_send end======================*/
/*==================otzyvy start======================*/
.otzyvy_left{
	display: block;
	margin-bottom: 13px;
}
.otzyvy_title{
	font-size: 32px;
	line-height: 34px;
	padding-bottom: 35px;
	color: #1F497D;
}
.otzyvy_title2{
	font-size: 24px;
	line-height: 1.3;
	color: #000;
	padding-top: 13px;
	margin-bottom: 50px;
}
.otzyvy_list_box{
	margin-right: 46px;
}
	.otzyvy_list_box_item{
		margin-bottom: 20px;
	}
	.otzyvy_list_box a{
		text-decoration: underline;
    	color: #1f497d;
	}
	.otzyvy_list_box a:hover{
		color: #07f;
	}

.otzyvy_right_block{
	line-height: 18px;
	padding-top: 3px;
}
	.otzyvy_right_block a{
		text-decoration: underline;
		color: #1f497d;
	}
	.otzyvy_right_block_item{
		
	}
		.otzyvy_right_block_item p{
			margin-bottom: 24px;
			color: #120f08;
			font-size: 16px;
			line-height: 18px;
		}
		.otzyvy_right_block_img{
			margin: 0 10px 5px 0;
		}
		.otzyvy_right_block_img2{
			margin: 0 0 0 10px;
		}
		.box_reviews_item{
			margin-bottom: 50px;
		}

		

/*==================otzyvy end========================*/
/*==================glossary start========================*/
.glossary_section_item{
	padding-top: 34px;
}
	.glossary_section_item p{
		margin-bottom: 34px;
	}
	.glossary_section_item ul{
		margin-left: 18px;
		list-style-type: disc;
		margin-bottom: 34px;
	}
		.glossary_section_item li{
			font-size: 14px;
	    	color: #505050;
		}	

/*==================glossary end========================*/
/*==================reklama start========================*/
.reklama_section_item.glossary_section_item{
	line-height: normal;
}
	.reklama_section_item.glossary_section_item p,
	.reklama_section_item.glossary_section_item ul{
		margin-bottom: 17px;
	}
/*==================reklama end========================*/
/*==================registration start========================*/
.starrequired{
	font-size: 20px;
	color: #4c4c4c;
	font-weight: 200;
}
.contact_box_franshiza.registration_box_franchiza{
	padding: 20px 20px 24px;
	margin-top: 20px;
}
.registration_box_franchiza.contact_box_franshiza .contact_box_form_input {
	width: 166px;
} 
.registration_box_franchiza.contact_box_franshiza .contact_box_form_item{
	width: auto;
}
.registration_box_franchiza.contact_box_franshiza .contact_box_form{
	width: 282px;
} 
.registration_box_franchiza.contact_box_franshiza .contact_box_form.second{
	width: 396px;
}
.registration_box_franchiza.contact_box_franshiza .captcha{
	padding-top: 0;
}
.registration_box_franchiza.contact_box_franshiza .captcha img {
     margin-right: 0; 
}
.reg_block_box{
	width: 400px;
}
	.reg_block_box p{
		padding-left: 30px;
		line-height: normal;
	}
.info_fild{
	line-height: 16px;
	font-size: 14px;
	color: #808080;
	font-weight: 200;
	
}
/*==================registration end========================*/
/*==================registration2 start========================*/
.registration2_box{
	padding: 0 36px 0 20px;
}
/*==================registration2 end========================*/
/*==================single start========================*/
/*==================popup start========================*/
#toggle_box{display: none;}
.popup_watch{
	position: absolute;
	width: 530px;
	height: 268px;
	left: 50px;
	top: 95px;
	box-shadow: 20px 28px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 20px 28px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 20px 28px 0 rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 22px;
	        border-radius: 22px;
	background: #FFF;
    border: 3px dotted #e6e6e6;
    text-align: center;
    padding: 50px 10px 30px;
    min-height: 182px;
    z-index: 99;
}
	.close{
		position: absolute;
		width: 26px;
		height: 27px;
		right: 19px;
		top: 11px;
		cursor: pointer;
		background: url(../images/pclose-bg.png) 0px 0px no-repeat;
	}
	.popup_title{
		font-size: 30px;
		line-height: normal;
		color: #4c4c4c;
	}
	.popup_text{
		font-size: 14px;
		line-height: normal;
		color: #808080;
		width: 330px;
		margin: auto;
	}
	.popup_link{
		color: #005abf;
		display: inline-block;
		text-decoration: underline;
	}
	.popup_link:hover{
		color: #0077ff;
		text-decoration: underline !important;
	}
/*==================popup end========================*/
/*==================single end========================*/

/*==================footer start==================*/
	footer{
		margin-top: 80px;
		padding: 0 !important;
	}
	.footer_left_block{
		float: left;
		text-align: right;
	}
		.logo_foot_item{
			margin-top: -1px;
		}
			.logo_foot_item a{
				
			}
				.logo_foot_item a img{
					
				}
		.footer_link{
			margin-top: 76px;
		}
			.footer_link a{
				text-decoration: underline !important;
			}
	.footer_right_block{
		float: right;
	}
		.footer_right_list{
			padding-bottom: 3px;
			margin-top: -7px;
		}
			.footer_right_list_item{
				float: left;
				margin-right: 48px;
			}
				.footer_right_list_item a{
					font-size: 24px;
					line-height: 28px;
					color: #0063d1;
					text-decoration: underline !important;
				}
				.footer_right_list_item a:hover{
					color: #0077ff;
				}

		.footer_right_list2{
			margin-top: 6px;
		}
			.footer_right_list_item2{
				float: left;
			}
				.footer_right_list_item2 a{
					font-size: 14px;
					line-height: 20px;
					margin-right: 48px;
					color: #0063d1;
					text-decoration: underline !important;
				}
				.footer_right_list_item2 a:hover{
					color: #0077ff;
				}
		.footer_text{
			padding-top: 40px;
		}
			.footer_text p{
				font-size: 14px;
				line-height: 20px;
				color: #808080;
				margin-bottom: 0;
			}
			.footer_text .copy{
				padding-bottom: 19px;
			}
.search_320,
.list_fotter_center{display: none;}
/*==================footer end====================*/


/*==================flexslider start==================*/
.flex-direction-nav .flex-nav-next:hover {
    background: url(../images/right-4.png);
    z-index: 1000;
}
.flex-direction-nav .flex-nav-next {
    right: -46px;
    background: url(../images/right-2.png);
    z-index: 1000;
}

.flex-direction-nav .flex-nav-prev {
    left: -40px;
    background: url(../images/left-2.png);
    z-index: 1000;
}
.flex-direction-nav .flex-nav-prev:hover {
    background: url(../images/left-4.png);
    z-index: 1000;
}

.flex-direction-nav .flex-nav-prev, 
.flex-direction-nav .flex-nav-next {
    position: absolute;
    top: 50%;
    margin-top: -130px;
    display: block;
    width: 70px;
    height: 260px;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    text-indent: -99999px;
}
/*==================flexslider end====================*/

/*================new================*/
.show_filter_box_click{
	margin:0 -4.5px;
}
	button[class*="show_filter_"]{
		font-size: 16px;
		line-height: 21px;
		color: #808080;
		float: left;
		cursor: pointer;
		padding: 0px 22px 0 10px;
		margin: 0 4.5px 7px;
		-webkit-border-radius: 12px;
		        border-radius: 12px;
		background-color: #e5e5e5;
		border: none;
		position: relative;
		outline-style: none;
	}
		button[class*="show_filter_"] i{
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			display: inline-block;
			width: 17px;
			height: 17px;
			background: url(../images/filters-item-bg.png) 0 0 no-repeat;
			z-index: 9;
		}
			button[class*="show_filter_"]:hover i{
				background-position: 0 -23px;
			}

		.show_filter_box_click .show_filter_4{
			color: #FFF;
			background-color: #6aa6f8;
			padding: 2px 10px 0;
			
		}
			.show_filter_box_click .show_filter_4 i{
				background: none;
			}
/*================new================*/
/*==================site_map start========================*/
.site_map{
	padding-top: 14px;
}
	.site_map_link{
		
	}
		.site_map_link a{
			display: inline-block;
			padding: 0 0 2px 19px;
			background: url(../images/page.gif) 0 3px no-repeat;
			color: #0063d1;
			text-decoration: underline !important;
		}
		.site_map_link a:hover{color: #0077ff;}
/*==================site_map end========================*/
/*==================search start========================*/
.search_box_main{
	
}
	.search_box_main_item{
		margin-bottom: 41px;
	}
		.search_box_input{
			width: 313px;
		}
		.search_box_butn{
			cursor: pointer;
			margin-left: 4px;
		}
	.search_launched_box{
		
	}
		.hr_search{
			display: block;
		    -webkit-margin-before: 0.5em;
		    -webkit-margin-after: 0.5em;
		    -webkit-margin-start: auto;
		    -webkit-margin-end: auto;
		    border-style: inset;
		    border-width: 1px;
		}
		.search_launched_box_item{
			line-height: normal;
		}
		.search_launched_box_item a,
		.paggination_search_box a,
		.after_paggination a{
			text-decoration: underline;
    		color: #0063d1;
		}
		.search_launched_box_item a:hover,
		.paggination_search_box a:hover,
		.after_paggination a:hover{
			color: #0077ff;
			text-decoration: underline;
		}
		.search_launched_box_item p{
			margin-bottom: 0;
			color: #505050;
		}
.paggination_search_box{
	
}
	.paggination_search_box a{
		
	}
	.after_paggination{color: #505050;}
/*==================search end========================*/
