<div class="content_sm_box left_slides_block gray_bg mb41">               
    <div class="mini_slider" id="mini_slider">
        <div class="owl-carousel2">
            <figure class="mini_slide_item clearfix gray_bg">
                    <div class="mini_slide_img_wrap">
                        <img src="images/franshiza_img.jpg" height="111" width="149" class="mini_slide_img" alt=""></div>
                    <figcaption>
                        <h2 class="title2 mb17">
                            <a href="#" class="blue link2">ВПЕРВЫЕ В РОССИИ Франшиза магазина умных спальных систем!</a>
                        </h2>
                        <a href="#" class="link3">Запросить подробности</a>
                        <div>франшизы у сотрудника компании Hilding Andersфраншизы у сотрудника компании Hilding Andersфраншизы у сотрудника компании Hilding Anders</div>
                    </figcaption>
            </figure>
            <figure class="mini_slide_item clearfix gray_bg">
                    <div class="mini_slide_img_wrap">
                        <img src="images/franshiza_img.jpg" height="111" width="149" class="mini_slide_img" alt=""></div>
                    <figcaption>
                        <h2 class="title2 mb17">
                            <a href="#" class="blue link2">ВПЕРВЫЕ В РОССИИ Франшиза магазина умных спальных систем!</a>
                        </h2>
                        <a href="#" class="link3">Запросить подробности</a>
                        <div>франшизы у сотрудника компании Hilding Anders</div>
                    </figcaption>
            </figure>
            <figure class="mini_slide_item clearfix gray_bg">
                    <div class="mini_slide_img_wrap">
                        <img src="images/franshiza_img.jpg" height="111" width="149" class="mini_slide_img" alt=""></div>
                    <figcaption>
                        <h2 class="title2 mb17">
                            <a href="#" class="blue link2">ВПЕРВЫЕ В РОССИИ Франшиза магазина умных спальных систем!</a>
                        </h2>
                        <a href="#" class="link3">Запросить подробности</a>
                        <div>франшизы у сотрудника компании Hilding Anders</div>
                    </figcaption>
            </figure>
            <figure class="mini_slide_item clearfix gray_bg">
                    <div class="mini_slide_img_wrap">
                        <img src="images/franshiza_img.jpg" height="111" width="149" class="mini_slide_img" alt=""></div>
                    <figcaption>
                        <h2 class="title2 mb17">
                            <a href="#" class="blue link2">ВПЕРВЫЕ В РОССИИ Франшиза магазина умных спальных систем!</a>
                        </h2>
                        <a href="#" class="link3">Запросить подробности</a>
                        <div>франшизы у сотрудника компании Hilding Anders</div>
                    </figcaption>
            </figure>
        </div>
    </div>
</div>