@import "../css/reset.css";
@import "../css/superfish.css";
@import "../css/jquery.formstyler.css";
@import "../css/owl.carousel.css";
@import "../css/easy-responsive-tabs.css";
@import "../css/flexslider.css";
@import "../css/style_alex.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  min-height:100%;
  height:100%;
  width:100%;
  font:14px/20px Tahoma;
  background:#fff;
  color:#000;
  min-width:320px;
  -webkit-text-size-adjust: none;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main{
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
  width: auto;
  
}
/*----------------------> Links And buttons <------------------*/
a {
  color:#;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#;
  text-decoration:none;
}

.btn1{
  display:inline-block;
  padding: 12px 20px 8px;
  margin: 0 0 0;
  outline: none;
  font-size: 18px;
  line-height: 1;
  color:#fff;
  border-radius: 50px;
  background-color: #1F497D;
  cursor: pointer;
  border: none;
}

.btn2{
  display:block;
  padding: 6px 16px;
  border: 4px solid #005abf;
  margin: 0 0 0;
  outline: none;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  color:#fff;
  border-radius: 22px;
  background-color: #0063d1;
  cursor: pointer;
}

.cont_btn{
  min-width: 250px;
}
.lg_btn{
  display: block !important;
  text-decoration: none !important;
  padding: 15px 20px 17px !important;
  border-radius: 18px !important;
  margin: 35px 0;
  color: #fff !important;
  font-weight: 300;
  text-align: center;
  font-size: 26px !important;
  border: 2px solid #3b5a7f;
  box-shadow: inset 0 0 3px #3b5a7f;
  background-color: #0163d2 !important;
  width: 100% !important;
}

.link1,
.link_a{
  color: #0063d1;
  text-decoration: underline;
  font-size: 13px;
}
.link_a{
  font-size: 14px;
}
.link2{
  text-decoration: underline;
}

.link3{
  font-size: 18px;
  line-height: 1.23;
  color: #0063d1;
  text-decoration: underline;
  text-transform: uppercase;
}

.link4{
  text-decoration: underline;
}
  .link4:after{
    content: ">";
    display: inline-block;
    margin-left: 5px;
  }

.link5{
  display: inline-block;
  border-bottom: 1px dashed #005abf;
  color: #005abf;
  cursor: pointer;
}
  .link5:hover{
    border-color: transparent;
  }

.add_link{
  background: url(../images/selectbl-bg.png) 0 0 no-repeat;
  display: inline-block;
  padding: 0px 0 1px 28px;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
}
  .add_link span{
    border-bottom: 1px dashed #005abf;
    display: inline-block;
    padding-bottom: 1px;
  }

  .add_link:hover span{
    border-color: transparent;
  }
/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.nowrap{
  white-space: nowrap
}
.val_mid{vertical-align: middle;}

.blue{
  color: #005abf;
}
.dk_blue{
  color: #1f497d;
}

.gray{
  color: gray;
}
.gray1{
  color: #4c4c4c;
}
.black{
  color: #000;
}

.fz_10{
  font-size: 10px;
  line-height: 1.2;
}
.fz_11{
  font-size: 11px;
  line-height: 1.2;
}
.fz_18{
  font-size: 18px;
  line-height: 1;
}

.fz_20{
  font-size: 20px;
  line-height: 1;
}

.fz_24{
  font-size: 24px;
  line-height: 1;
}

.fz_28{
  font-size: 28px;
  line-height: 1.23;
}

.fz_16{
  font-size: 16px;
  line-height: 1.2;
}

.rad_12{
  border-radius: 12px;
}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}


.zi33{z-index: 33;}
/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/



/*======================> Header <======================*/

.header{
  padding: 10px 0 11px;
}

.logo{
  padding: 2px 0 0 1px;

}
  .logo a{
    display: inline-block;
  }
    .logo a img{
      width: 100%;
      height: auto;
    }

.header_slogan{
  color: #1f497d;
  font-size: 30px;
  font-weight: normal;
}

.header_slogan1{
  font-size: 16px;
  line-height: 25px;
  color: gray;
}

.header_sm_col1{
  width: 68%;
}

.header_sm_col2{
  width: 226px;
  padding: 4px 0 0;
  margin-right: 33px;
}

.sitemap_btn{
  background: url(../images/sitemap.png) 0 0 no-repeat;
  width: 16px;
  height: 15px;
  display: block;
  position: absolute;
  right: 49px;
  top: 8px;
}

.header_authorization{
  margin-bottom: 10px;
}
  .header_authorization:after{
    width: 1px;
    height: 12px;
    background-color: gray;
    position: absolute;
    display: block;
    position: absolute;
    left: 61px;
    top: 5px;
    content: ""
  }

input.header_search_inp{
    float: left;
    width: 183px ;
    height: 30px;
    font: 200 italic 14px/24px Tahoma;
    color: gray;
    border: 1px solid #9f9f9f;
    border-top: 1px solid #999;
    border-bottom: 1px solid silver;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: 0 3px 0 #f2f2f2;
    -moz-box-shadow: 0 3px 0 #f2f2f2;
    -webkit-box-shadow: 0 3px 0 #f2f2f2;
    padding: 2px 8px;
  }

  .header_search_btn{
    position: relative;
    float: right;
    width: 31px;
    height: 34px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background: url(../images/ssub-bg.png) 0 1px no-repeat;
  }
    .header_search_btn:hover{
      background-position: -31px 0;
    }
    .header_search_btn:focus{
      background-position: -62px 0;
    }


    input.txt_field,
    textarea.txt_field{
      width: 100%;
      height: 26px;
      font-family: Tahoma;
      border: 1px solid #999;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      box-shadow: 0 3px 0 #ebebeb;
      -moz-box-shadow: 0 3px 0 #ebebeb;
      -webkit-box-shadow: 0 3px 0 #ebebeb;
      padding: 0 8px;
    }

    input.txt_field1{
      height: 32px;
      width: 100%;
      font: 200 14px/24px Tahoma;
      color: #000;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border: 2px solid #d8d8d8;
      margin: 0 0 10px;
      padding: 0 8px 4px;
    }

    textarea.area_h200{
      height: 210px;
    }
/*=====================> Content ========================*/
#content {padding:0px 0px 0px 0px; min-height: 1500px;}
.cont_pad{padding:0 0 0 0 !important;}
#content .news2_box_block img{
  max-width: 100%;
  height: auto;
}

.col_1_4{
  width: 20.4%;
}
.col_3_4{
  width: 77.117117117117%;
}

.content_col_1_3:not(:first-child){
  width: 30%;
  margin: 0 0 0 3.8%;
}
.content_col_1_3 .form_row{
  margin-bottom: 1px;
}
.content_col_1_3 .form_row .form_label{
  position: relative;
}
.quest {
    position: absolute;
    margin-left: 5px;
    right: -15px;
    top: 2px;
    display: inline-block;
    width: 11px;
    height: 15px;
    cursor: pointer;
    background: url(../images/quest-bg.png) 0 0 no-repeat;
}
.quest:hover {
    background-position: -11px 0;
}
#help-txt {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 3;
    width: 167px;
    min-height: 50px;
    border: 1px solid #a1a1a1;
    background: #FFF;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.05);
    padding: 11px 20px 13px;
    cursor: pointer;
}
#hint .icon, #help-txt .icon {
    position: absolute;
    display: block;
    width: 13px;
    height: 15px;
    left: 50%;
    margin-left: -7px;
    bottom: -9px;
    background: url(../images/hint-icon.png) 0 0 no-repeat;
}
#hint p, #help-txt p {
    font-size: 12px;
    line-height: 14px;
    color: #000;
    margin-bottom: 0;
}
.content_sm_box,
.content_sm_box1{
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border: 2px solid #d8d8d8;
  padding: 21px 22px 10px;
}
.content_sm_box1{
  padding-bottom: 36px;
}

.gray_bg{
  background-color: #f6f6f6;
}

  .mini_slide_item{
    font-size: 16px;
    text-align: center;
    padding: 3px 0px 0;
  }
    .mini_slide_img{
      border-radius: 9px;
    }
    .mini_slide_img_wrap{
      margin-bottom: 18px;
    }

    .mini_slider{
      min-height: 337px;
      overflow: hidden;
    }



.news_list_item{

}

.subscribe_form_row,
.form_row{
  margin-bottom: 2px;
}
  .subscribe_form_label{
    display: block;
    margin-bottom: 12px;
  }
input[type="radio"]{
  margin: 2px 7px 6px 5px;
}

.search_box{
  border: 2px solid #0163d1;
  background: #fafafa;
  background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#efefef));
  background: -webkit-linear-gradient(top, #fafafa 0%,#efefef 100%);
  background: -o-linear-gradient(top, #fafafa 0%,#efefef 100%);
  background: -ms-linear-gradient(top, #fafafa 0%,#efefef 100%);
  background: linear-gradient(to bottom, #fafafa 0%,#efefef 100%);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 3px 2.9% 16px 3.3%;
  margin-bottom: 20px;
}


.empty_list_btn{
  display: block;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding: 0px 70px 2px 20px;
  background-color: #1F497D;
}
  .empty_list_btn span{
    display: inline-block;
    padding-left: 48px;
    background: url(../images/iconca.png) 0 80% no-repeat;
  }

.pad_box{
  padding: 20px 32px 15px;
}

.sort_btn{
  font-weight: 200;
  border-bottom: 1px dashed #0063d1;
  margin-left: 24px;
  position: relative;
  color: #0063d1;
}
  .sort_btn:before{
    width: 19px;
    height: 16px;
    background: url(../images/invf.png) 0 100% no-repeat;
    display: block;
    position: absolute;
    right: 100%;
    top: 5px;
    margin: 0 5px 0 0px;
    content: "";
  }

  .sort_btn:hover{
    border-color: transparent;
  }
  .sort_btn.active:before{
    background-position: 0 1px ;
  }


/*=====================> Franzhiza Single ========================*/

.franshiza_single_box{
  padding: 0 0 0 46px;
}
  .franshiza_single_box_img{
    width: 203px;
  }
      .franshiza_single_box_img img{
        width:  100%;
        height: auto; 
      }

  .franshiza_single_box_caption{
    padding: 0px 0 0 46px;
    float: left;
    width: 290px;
  }

  .representative_box{
    width: 232px;
    padding: 10px;
    border: 2px solid #ECECEC;
    overflow: hidden;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
  }

  .representative_box_desc{
    width: 52%;
  }


.simple_tab{
  margin-bottom: 54px !important;
  margin-top: 20px !important;
}
.simple_tab .resp-tabs-list li{
  float: left;
  padding: 11px 20px 27px;
  height: 27px;
  font-size: 14px;
  color: #505050;
}
.simple_tab .resp-tabs-list li.resp-tab-active{
  border: 2px solid #0163d1;
  background: #FAFAFA;
  border-bottom: none;
  border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  -webkit-border-radius: 12px 12px 0px 0px;
}
  .simple_tab .resp-tabs-list li span{
    display: inline-block;
    font: 16px/16px Tahoma;
    cursor: pointer;
    color: #005abf;
    border-bottom: 1px dashed #005abf;
  }
    .simple_tab li.resp-tab-active span{
      border: none;
      color: #4c4c4c !important;
    }

  .simple_tab .box{
    display: none;
    /* overflow: hidden; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 32px 27px 52px;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border: 2px solid #0163d1;
  }


.simple_tab .flex-control-nav{
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -37px;
  left: 0;
}

.simple_tab .flex-control-nav li{
  display: inline-block;
}

.flex-direction-nav{
  /*position: absolute;*/
}


.hint_btn{
  background: url(../images/quest-bg.png) 0 0 no-repeat;
  width: 11px;
  height: 15px;
  display: block;
  position: absolute;
  left: 23px;
  top: 2px;
}


.text_part h1{
  font-size: 24px;
  line-height: .97;
  margin-bottom: 22px;
}

.text_part h3{
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 22px;
}

.text_part{
  font-size: 16px;
  line-height: 20px;
}
.text_part p{
  margin-bottom: 20px;
}

.text_part a{
  text-decoration: underline;
}
  .text_part a:hover{
    text-decoration: none;
  }

.text_part ul{
  margin-bottom: 20px;
}
.text_part ul li{
  position: relative;
  padding: 0 0 2px 44px;
}
  .text_part ul li:before{
    width: 4px;
    height: 4px;
    background-color: #1f497d;
    border-radius: 1px;
    display: block;
    position: absolute;
    left: 32px;
    top: 9px;
    content: "";
  }

.sticky_btns{
  position: fixed;
  bottom: 0px;
  /*left: 50%;*/
  z-index: 3;
  width: 855px;
  /*margin-left: -300px;*/
}
.sticky_btn{
  padding: 6px 20px 5px;
  background-color: rgb(0,99,209);
  border-radius: 6px;
  color: #fff;
  display: block;
  width: 418px;
  position: relative;
  font-size: 16px;
}
  .sticky_btn b{
    text-decoration: underline;
  }

  .close_btn{
    font-weight: bold;
    position: absolute;
    right: 23px;
    top: 5px;
  }


/*=====================> pad boxes ========================*/
.inner_pad_box{
  padding: 29px 0 0 30px;
  vertical-align: bottom;
  line-height: 23px;
}


.form_box{
  border: 2px solid #0163d1;
  padding: 23px 40px 0px 20px;
  border-radius: 10px;
  background: -moz-linear-gradient(top,#fafafa,#efefef);
  background: -webkit-linear-gradient(top,#fafafa,#efefef);
  background: -o-linear-gradient(top,#fafafa,#efefef);
  background: -ms-linear-gradient(top,#fafafa,#efefef);
  background: linear-gradient(top,#fafafa,#efefef);
}

  .contact_form_label{
    font-size: 20px;
    font-weight: 200;
    padding-right: 10px;
    line-height: 1;
    color: #4c4c4c;
  }

  .contact_form_inp_wrap{
    max-width: 165px;
  }
  .contact_form_text_wrap{
    width: 250px;
  }

  .form_row{
    overflow: hidden;
    margin-bottom: 32px;
  }
  .checkbox_row{
    margin-top: -14px;
  }

  .form_col{
    width: 46%;
  }

/*=====================> Paragraphs ========================*/
.pb1{padding-bottom: 1px;}
.pb15{padding-bottom: 15px;}
.pl30{padding-left: 30px;}
.mt37{margin-top: 37px !important;}

p {margin-bottom:18px}
.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb-5{ margin-bottom:-5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb58{ margin-bottom:58px;}
.mb62{ margin-bottom:62px;}
.mb75{ margin-bottom: 75px;}


/*=====================> Lists ========================*/
.list1{}
.list1 li{
  position: relative;
  padding: 0 0 0 54px;
}

.list1 li:not(:first-child){
  margin-top: 13px;
}

.list2{}
.list2_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2_link{}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}

/*=====================> Titles ========================*/
h1,h2,h3,h4{
  font-weight:normal;
}
.title1{
  vertical-align: bottom;
}
  .title1 span{
    font-size: 30px;
    line-height: 1;
  }

  .title1 > *{
    vertical-align: bottom;
    display: inline-block;
  }

.title1_1{
  font-size: 30px;
  line-height: 1.2;
}

.title2{
  font-size: 20px;
  line-height: 1.05;
}

.title4{
  font-size: 16px;
}




/*================================>> GOOGLE FONTS  <<========================================*/



/*================================>> hovers <<========================================*/
a{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
#contact-form textarea, #contact-form input[type="text"]{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contact-form input[type="text"]{
  width:347px;
}
#contact-form textarea {
  overflow:auto;
  width:433px;
  height:172px;
  resize:none;
  float:left;
  margin: 0 0 0 0;
}
  
#contact-form label {
  display:inline-block;
  position: relative;
  min-height:45px;
  overflow:hidden;
 }
#contact-form label.message {
  display:block;
  padding-bottom:0;
}
#contact-form .button {
  margin-left:8px;
}
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:411px;
   height:237px;
}
.adress{}
.adress span{
  display:inline-block;
}
.adress dt{ margin-bottom:14px;}

/*
<dl class="adress">
  <dt><strong>8901 Marmora Road,<br>Glasgow, D04 89GR.</strong></dt>
  <dd><span>Freephone:</span>+1 800 559 6580</dd>
  <dd><span>Telephone:</span>+1 800 603 6035</dd>
  <dd><span>FAX:</span>+1 800 889 9898</dd>
  <dd>E-mail: <a href="#" class="demo">mail@demolink.org</a></dd>
</dl>
<div class="social">
	<a href="#" title="RSS"><img src="images/soc1.png" alt=""></a>
	<a href="#" title="Twitter"><img src="images/soc2.png" alt=""></a>
	<a href="#" title="Facebook"><img src="images/soc3.png" alt=""></a>
	<a href="#" title="Google +"><img src="images/soc4.png" alt=""></a>
</div>
*/

/*================================>> Footer <<========================================*/
footer {
  padding:22px 0 26px;
}
.social{
  overflow:hidden;
}
.social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
.social a:first-child{margin: 0 0 0 0;}
.social a:hover img{
  margin-top:-32px;
}